﻿@{
    ViewBag.Title = "Car Owner";
}

<div class="container-fluid bg-light">
    <div class="container bg-light bg-custom">
        <div class="row choose_1 mt-5">
            <h1 class="text-black mb-5">Have a car for rent? Don't miss out of your benefit</h1>
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <div class="items d-flex justify-content-center align-items-center" style="width: 40px; height: 40px; border: thin solid #000;">
                        <i class="fas fa-usd" style="font-size: 20px;"></i>
                    </div>
                    <div class="d-flex flex-column align-items-center" style="padding-left: 10px;">
                        <h5 class="text-black mb-0">How the insurance works</h5>
                    </div>
                </div>
                <p class="mt-3">From the minute you hand the keys over till the second you get them back you are covered. Your private insurance is not affected </p>

            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <div class="items d-flex justify-content-center align-items-center" style="width: 40px; height: 40px; border: thin solid #000;">
                        <i class="fas fa-shield-alt" style="font-size: 20px;"></i>
                    </div>
                    <div class="d-flex flex-column align-items-center" style="padding-left: 10px;">
                        <h5 class="text-black mb-0">It's completely free</h5>
                    </div>
                </div>
                <p class="mt-3">We offer both owners and renters free sign ups. It's only once a vehicle is rented out that a share is deducted to cover admin and insurance.</p>

            </div>

            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <div class="items d-flex justify-content-center align-items-center" style="width: 40px; height: 40px; border: thin solid #000;">
                        <i class="far fa-check-circle" style="font-size: 20px;"></i>
                    </div>
                    <div class="d-flex flex-column align-items-center" style="padding-left: 10px;">
                        <h5 class="text-black mb-0">You decided the price</h5>
                    </div>
                </div>
                <p class="mt-3">When you list a car you decide the price. We can help with recommendations as to price, but ultimately you decide!</p>

            </div>
        </div>
        <div class="row choose_1 mt-5">
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <div class="items d-flex justify-content-center align-items-center" style="width: 40px; height: 40px; border: thin solid #000;">
                        <i class="fas fa-car" style="font-size: 20px;"></i>
                    </div>
                    <div class="d-flex flex-column align-items-center" style="padding-left: 10px;">
                        <h5 class="text-black mb-0">Handling over over your vehicle </h5>
                    </div>
                </div>
                <p class="mt-3">You arrange the time and location for the exchange of your vehicle with the renter. Both parties will need to agree and sign the vehicle rental sheet before and after key handover.</p>

            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <div class="items d-flex justify-content-center align-items-center" style="width: 40px; height: 40px; border: thin solid #000;">
                        <i class="fas fa-exclamation-triangle" style="font-size: 20px;"></i>
                    </div>
                    <div class="d-flex flex-column align-items-center" style="padding-left: 10px;">
                        <h5 class="text-black mb-0">Your are in charge</h5>
                    </div>
                </div>
                <p class="mt-3">All renters are pre-screened by us to ensure safety and get your approval, if you do not feel comfortable with someone, you are able to decline a booking.</p>

            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <div class="items d-flex justify-content-center align-items-center" style="width: 40px; height: 40px; border: thin solid #000;">
                        <i class="far fa-credit-card" style="font-size: 20px;"></i>
                    </div>
                    <div class="d-flex flex-column align-items-center" style="padding-left: 10px;">
                        <h5 class="text-black mb-0">Set payment</h5>
                    </div>
                </div>
                <p class="mt-3">We pay you once a month and you can always view how much your car has earned under your user profile.</p>

            </div>
        </div>
    </div>
</div>



<section class="mt-5 text-center">
    <div class="container">
        <div class="text-start">
            <h2>Make money on your car right away</h2>
        </div>
        <a class="btn btn-primary mt-5 mb-5" asp-action="Index" asp-controller="Cars" asp-area="CarOwner">List Your Car Today</a>
    </div>
</section>
