﻿@model CarRental.MVC.Areas.Accounts.Models.EditUserModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/css/add-a-car.css">

<div class="container" style=" margin-top: 100px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @if (User.IsInRole("CarOwner"))
            {
                <li class="breadcrumb-item"><a asp-area="CarOwner" asp-controller="Home" asp-action="Index">Home</a></li>
            }
            @if (User.IsInRole("Customer"))
            {
                <li class="breadcrumb-item"><a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a></li>
            }
            <li class="breadcrumb-item active" aria-current="page">My Profile</li>
        </ol>
    </nav>
    <h1 class="">My profile</h1>
</div>

<section class="mt-3">
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active text-black" id="nav-booking-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-booking" type="button" role="tab" aria-controls="nav-booking"
                        aria-selected="true">
                    Personal Information
                </button>
                <button class="nav-link text-black" id="nav-payment-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-payment" type="button" role="tab" aria-controls="nav-payment"
                        aria-selected="false">
                    Security
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-booking" role="tabpanel" aria-labelledby="nav-booking-tab">

                <div class="row mt-5">
                    <h3 class="mb-3">Renter's information</h3>
                    <form id="signUpForm" asp-area="Accounts" asp-controller="Profile" asp-action="Edit" method="post"
                          enctype="multipart/form-data" class="form-group">

                        <input type="hidden" asp-for="Address" />
                        <input type="hidden" asp-for="ImageUrlDriverLicense" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Full Name</label>
                                    <input type="text" asp-for="Name" class="form-control" placeholder="Full name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="DateOfBirth" class="form-label">
                                        Date of
                                        birth
                                    </label>
                                    <input type="date" asp-for="DateOfBirth" id="DateOfBirth" class="form-control"
                                           placeholder="Date of birth" aria-describedby="helpId">
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="PhoneNumber" class="form-label">
                                        Phone
                                        number
                                    </label>
                                    <input type="tel" asp-for="PhoneNumber" class="form-control"
                                           placeholder="Phone number" aria-describedby="helpId">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="email" class="form-label">
                                        Email
                                        address
                                    </label>
                                    <input type="email" asp-for="EmailAddress" class="form-control"
                                           placeholder="Email address" aria-describedby="helpId">
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="NationalIdNo" class="form-label">
                                        National
                                        Id No:
                                    </label>
                                    <input type="text" asp-for="NationalIdNo" class="form-control"
                                           placeholder="Email address" aria-describedby="helpId">
                                    <span asp-validation-for="NationalIdNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Driver License: </strong></p>
                                <div class="uploader">
                                    <input id="file-upload-1" type="file" name="ImageFileDriverLicense"
                                           accept="image/*" />


                                    <label for="file-upload-1" id="file-drag-1">
                                        <img id="file-image-1" src="#" alt="Preview" class="hidden">
                                        <div id="start-1">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            <div>Select a file or drag here</div>
                                            <div id="notimage-1" class="hidden">Please select an image</div>
                                            <span id="file-upload-btn-1" class="btn btn-primary">
                                                Select a
                                                file
                                            </span>
                                        </div>
                                        <div id="response-1" class="hidden">
                                            <div id="messages-1"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="address" class="form-label">Address</label>

                                <select name="Address.City" id="City" onchange="loadDistricts()"
                                        class="form-control mb-3">
                                    @if (Model.Address != null)
                                    {
                                        @foreach (var item in ViewBag.Cities)
                                        {
                                            @if (item == Model.Address.City)
                                            {
                                                <option value="@item" selected>@item</option>
                                            }
                                            else
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    }
                                </select>
                                <select name="Address.District" id="District" onchange="loadWards()"
                                        class="form-control mb-3">
                                    @if (Model.Address != null)
                                    {
                                        <option value="@Model.Address.District">@Model.Address.District</option>
                                    }
                                </select>
                                <select name="Address.Ward" id="Ward" class="form-control mb-3">
                                    @if (Model.Address != null)
                                    {
                                        <option value="@Model.Address.Ward">@Model.Address.Ward</option>
                                    }
                                </select>


                                <input type="text" asp-for="DetailAddress" class="form-control mb-3"
                                       placeholder="Home number, Street" aria-describedby="helpId">
                                <span asp-validation-for="DetailAddress" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                
                                @if (Model.ImageUrlDriverLicense == null)
                                {
                                    <p class="mt-3">Please upload an image!</p>
                                    
                                    <img src="~/img/TempDriverLicense.png" alt="User Image"
                                     style="max-width: 400px;" class="border border-2" />
                                }
                                else
                                {
                                    <p class="mt-3">Already driver license:</p>
                                    <img src="@Url.Content(Model.ImageUrlDriverLicense)" alt="User Image"
                                     style="max-width: 400px;" class="border border-2" />
                                }
                            </div>
                        </div>
                        <div class="row text-end mb-5">
                            <div class="text-center">
                                <button type="reset" class="btn btn-outline-info rounded-1">
                                    Discard
                                </button>
                                <button type="submit" class="btn btn-primary rounded-1">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="tab-pane fade" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
                <div class="row">
                    <h5 class="mt-5 mb-3">Change password</h5>
                    <form id="changePasswordForm" asp-area="Accounts" asp-controller="Profile"
                          asp-action="ChangePassword" class="col-4">
                        <div class="form-group mb-3">
                            <label for="CurrentPassword">Current Password</label>
                            <input type="password" id="CurrentPassword" name="CurrentPassword" class="form-control" />
                        </div>

                        <div class="form-group mb-3">
                            <label for="NewPassword">New Password</label>
                            <input type="password" id="NewPassword" name="NewPassword" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="ConfirmPassword">Confirm Password</label>
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                        </div>
                        <div id="errorList"></div>
                        <span class="text-success" id="successMessage"></span>
                        <div class="form-group mt-3">
                            <div class="row text-end mb-5">
                                <div class="text-center">
                                    <button type="reset" class="btn btn-outline-info rounded-1">Discard</button>
                                    <button type="submit" class="btn btn-primary rounded-1">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    </div>
</section>

<script src="~/js/edit-profile.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    function loadCities() {
        $.get('/Common/GetCities', function (data) {
            var citySelect = $('#City');
            citySelect.empty();
            citySelect.append($('<option>').text('Select City').attr('value', ''));
            $.each(data, function (i, item) {
                citySelect.append($('<option>').text(item).attr('value', item));
            });
        });
    }

    function loadDistricts() {
        var selectedCity = $('#City').val();
        var districtSelect = $('#District');
        districtSelect.empty();
        districtSelect.append($('<option>').text('Select District').attr('value', ''));
        if (selectedCity) {
            $.get('/Common/GetDistricts?city=' + selectedCity, function (data) {
                $.each(data, function (i, item) {
                    districtSelect.append($('<option>').text(item).attr('value', item));
                });
            });
        }
    }

    function loadWards() {
        var selectedCity = $('#City').val();
        var selectedDistrict = $('#District').val();
        var wardSelect = $('#Ward');
        wardSelect.empty();
        wardSelect.append($('<option>').text('Select Ward').attr('value', ''));
        if (selectedCity && selectedDistrict) {
            $.get('/Common/GetWards?city=' + selectedCity + '&district=' + selectedDistrict, function (data) {
                $.each(data, function (i, item) {
                    wardSelect.append($('<option>').text(item).attr('value', item));
                });
            });
        }
    }

    $(document).ready(function () {
        let selectedCityAlready = $('#City').val();

        if (!selectedCityAlready) {
            loadCities();
        }
        $("#changePasswordForm").submit(function (e) {
            e.preventDefault(); // Ngăn chặn chuyển hướng trang mặc định khi gửi form
            var formData = {
                CurrentPassword: $("#CurrentPassword").val(),
                NewPassword: $("#NewPassword").val(),
                ConfirmPassword: $("#ConfirmPassword").val()
            };

            console.log(formData);

            $.ajax({
                type: "POST",
                url: "/Accounts/Profile/ChangePassword", // Điều chỉnh đường dẫn tương ứng với controller và action của bạn
                data: JSON.stringify(formData),
                contentType: "application/json",
                success: function (result) {
                    if (result.success) {
                        window.location.href = result.redirect;
                    } else {
                        $("#errorSpan").text(""); // Xóa bất kỳ lỗi trước đó
                        if (result.errors && result.errors.length > 0) {
                            var errorList = $("#errorList");
                            errorList.empty();
                            result.errors.forEach(function (error) {
                                errorList.append("<div><span class='text-danger'>" + error + "</span></div>");
                            });
                        }
                    }
                },
                error: function () {
                    $("#errorSpan").text("An error occurred while processing your request.");
                }
            });
        });
    });

</script>
