/*
Template Name: Car Lease
File: Layout CSS
Author: TemplatesOnWeb
Author URI: https://www.templateonweb.com/
Licence: <a href="https://www.templateonweb.com/license">Website Template Licence</a>
*/
/*********************login****************/
.center_login {
    background-image: url(../img/43.jpg);
    background-size: cover;
    background-position: center;
}

.login_1 {
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 3%);
    width: 40%;
}

.center_reg {
    background-image: url(../img/42.jpg);
    background-size: cover;
    background-position: center;
}
/*********************login_end****************/


@media screen and (max-width : 767px) {
    .login_1 {
        width: 100%;
        padding: 10px !important;
    }

        .login_1 h3 {
            text-align: center;
        }

        .login_1 .button {
            width: 100%;
            text-align: center;
        }
}

@media (min-width:576px) and (max-width:767px) {
    .login_1 p {
        text-align: center;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .login_1 {
        width: 60%;
    }
}

@media (min-width:768px) and (max-width:991px) {
}

@media (min-width:992px) and (max-width:1200px) {
}

@media (min-width:1201px) and (max-width:1255px) {
}
