﻿.cont {
    width: 93%;
    max-width: 350px;
    text-align: center;
    margin: 4% auto;
    padding: 30px 0;
    color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

hr {
    margin: 20px;
    border: none;
    border-bottom: thin solid rgba(255, 255, 255, 0.1);
}

div.title {
    font-size: 2em;
}

h1 span {
    font-weight: 300;
    color: #fd4;
}

div.stars {
    width: 270px;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all 0.2s;
}

input.star:checked ~ label.star:before {
    content: "\f005";
    color: #fd4;
    transition: all 0.25s;
}

input.star-5:checked ~ label.star:before {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
    color: #f62;
}

input.star-2:checked ~ label.star:before {
    color: rgb(255, 159, 34);
}

input.star-3:checked ~ label.star:before {
    color: rgb(255, 185, 34);
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: "\f006";
    font-family: FontAwesome;
}

.rev-box {
    overflow: hidden;
    height: 0;
    width: 100%;
    transition: all 0.25s;
}

textarea.review {
    background: white;
    border: thin solid #444;
    width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    color: black;
}

label.review {
    display: block;
    transition: opacity 0.25s;
}

input.star:checked ~ .rev-box {
    height: 125px;
    overflow: visible;
}
