﻿@{
    ViewData["Title"] = "Wallet";
}

@using CarRental.Core.Common;
@model IEnumerable<CarRental.Core.Models.WalletTransactionHistory>
<section id="blog" class="p_3 mt-5">
    <div class="container-xl">
        <div class="col-md-12 mt-5">
            <h6 class="mb-0 mt-3 ms-3 fw-normal col_oran">
                <a class="text-black" asp-action="Index" asp-controller="Home" asp-area="Customer">Home</a>
                <span class="mx-2 col_light">/</span>
                My wallet
            </h6>
            <h2 class="text-black mt-3 ms-3">My Wallet</h2>
        </div>
        <div class="row blog_1">
            <div class="col-md-6">
                <div class="model_pg1i2r ms-3 mt-5">
                    <h5 class="mb-0 fw-bolder">Your current balence: </h5>
                    <div class="mt-3 ms-4">
                        <h2 class="text-success">@FormatHelper.FormatCurrency(ViewBag.currentBalance)</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-grid gap-2 mt-5 d-md-block">
                    <button class="btn btn-sm rounded-3" style="background-color: #edc585;" type="button" data-toggle="modal" data-target="#withdrawModal">
                        Withdraw
                    </button>
                    <button class="btn btn-success btn-sm rounded-3" type="button" data-toggle="modal" data-target="#topUpModal" id="topUpButton">
                        Top-up
                    </button>
                </div>
            </div>
        </div>
        <div class="row blog_1">
            <form action="search" method="get">
                <div class="col-md-6">
                    <div class="model_pg1i2r ms-3 mt-5">
                        <h5 class="mb-0 fw-bolder">Transactions: </h5>
                    </div>
                </div>
                @* <div class="row">
                    <div class="col-md-6">
                        <div class="row g-8 align-items-center ms-4 mt-4">
                            <div class="col-auto">
                                <label for="fromDate" class="col-form-label">From</label>
                            </div>
                            <div class="col-md-6">
                                <input type="date" id="inputDate" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row g-8 align-items-center ms-4 mt-4">
                            <div class="col-auto">
                                <label for="toDate" class="col-form-label">To</label>
                            </div>
                            <div class="col-md-6">
                                <input type="date" id="inputDate" class="form-control">
                            </div>
                        </div>
                    </div>
                </div> *@
            </form>
            <div class="modal fade" id="topUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Top-up Money</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/Customer/Wallets/TopUpAction" id="topUpForm">
                                <div class="form-group">
                                    <label for="topUpAmount">Amount (VND)</label>
                                    <input type="number" min="1" class="form-control" id="topUpAmount" name="topUpAmount" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" form="topUpForm">Top-up</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="withdrawModalLabel">Withdraw Money</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/Customer/Wallets/WithdrawAction" id="withdrawForm">
                                <div class="form-group">
                                    <label for="withdrawAmount">Amount (VND)</label>
                                    <input type="number" min="1" class="form-control" id="withdrawAmount" name="withdrawAmount" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" form="withdrawForm">Withdraw</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="table">
                    <div class="table-active mt-3">
                        <table class="table table-striped  table-bordered" id="myTable">
                            <thead>
                                <tr class="table-active">
                                    <th>No</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                    <th>Date time</th>
                                    @*<th>Booking no</th>*@
                                    @*<th>Car name</th>*@
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(++i)</td>
                                        <td>
                                            @if (item.TransactionType == "Deposit" || item.TransactionType == "With Draw")
                                            {
                                                <span class="text-danger"> - @FormatHelper.FormatCurrency(item.Amount)</span>
                                            }
                                            else
                                            {
                                                <span class="text-success"> + @FormatHelper.FormatCurrency(item.Amount)</span>
                                            }
                                        </td>
                                        <td>@item.TransactionType</td>
                                        <td>@item.CreatedAt</td>
                                        @*<td>N/A</td>*@
                                        @*<td>N/A</td>*@
                                        <td>@item.TransactionDescription</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable({
            searching: true, // Enable searching
            ordering: true,  // Enable sorting
            paging: true,    // Enable pagination
        });        
    });
</script>

