﻿@using CarRental.Core.Common
@model IEnumerable<CarRental.Core.Models.Booking>
<link rel="stylesheet" href="~/css/rating.css" />

@foreach (var item in Model)
{
    <div class="row blog_1 mb-5 pb-3 border-bottom border-dark">
        <div class="col-md-6">
            <div class="card-body">
                <div id="carouselExampleIndicators-@item.Id" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@Url.Content(item.Car?.CarImages.First(x => x.Description == "front").Url)" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="@Url.Content(item.Car?.CarImages.First(x => x.Description == "back").Url) " class=" d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="@Url.Content(item.Car?.CarImages.First(x => x.Description == "left").Url)" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="@Url.Content(item.Car?.CarImages.First(x => x.Description == "right").Url)" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-title mt-2">
                <h2>
                    <a asp-controller="Bookings" asp-action="Details" asp-route-bookingId="@item.Id" asp-route-carID="@item.CarId">@item.Car.Name</a>
                </h2>
            </div>
            <div class="model_pg1i clearfix">
                <div class="model_m pt-3 clearfix border-top-0">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    &#9679;
                                    <strong>From:</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                <span>@item.StartDateTime.ToString("dd/MM/yyyy - hh:mm tt")</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    &#9679;
                                    <strong>To:</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                <span>@item.EndDateTime.ToString("dd/MM/yyyy - hh:mm tt")</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="model_m clearfix border-top-0">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Number of days:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                @{
                                    TimeSpan timeSpan = item.EndDateTime - item.StartDateTime;
                                    int numberOfDays = (int)timeSpan.TotalDays + 1;

                                    <span>@numberOfDays</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Base price:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                <span>@(FormatHelper.FormatCurrency(item.Car.BasePrice))</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Total:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                @{
                                    DateTime currentDate = DateTime.Now;
                                    TimeSpan timeSpans = item.EndDateTime - item.StartDateTime;
                                    TimeSpan timespansInFact = currentDate - item.StartDateTime;
                                    int numberOfDayss = (int)timeSpans.TotalDays + 1;
                                    int numberOfDayssInFact = (int)timespansInFact.TotalDays + 1;
                                    decimal basePrice = item.Car.BasePrice;
                                    decimal totalPrice = numberOfDayssInFact * basePrice + item.Car.Deposit;
                                    decimal totalDeposit = basePrice * numberOfDayss + item.Car.Deposit;

                                    <span>@(FormatHelper.FormatCurrency(item.Car.BasePrice * ((item.EndDateTime - item.StartDateTime).Days + 1) + item.Car.Deposit))</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Deposit:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                <span>@(FormatHelper.FormatCurrency(item.Car.Deposit))</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Booking No.:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                <span>
                                    <strong>@item.BookingNo</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Booking status:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6" id="booking-status">
                            <div class="model_pg1i2l">
                                @{
                                    string status = item.Status;
                                    string statusClass = status == "Confirmed" ? "text-success" : "text-danger";

                                    <span class="@statusClass fw-bold">@status</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="d-grid gap-2">
                @if (item.Status == "Confirmed")
                {
                    <a class="btn btn-primary rounded-1" asp-controller="Bookings" asp-action="Details" asp-route-bookingId="@item.Id" asp-route-carID="@item.CarId">View details</a>

                    <button type="button"
                            class="btn btn-success rounded-1"
                            data-bs-toggle="modal"
                            data-bs-target="#pickupModal-@item.Id">
                        Confirm Pick-up
                    </button>
                    <button type="button"
                            class="btn btn-danger rounded-1"
                            data-bs-toggle="modal"
                            data-bs-target="#cancelModal-@item.Id">
                        Cancel booking
                    </button>
                }
                else if (item.Status == "Pending" || item.Status == "Cancelled" || item.Status == "Completed")
                {
                    <a class="btn btn-primary rounded-1" asp-controller="Bookings" asp-action="Details" asp-route-bookingId="@item.Id" asp-route-carID="@item.CarId">View details</a>
                }
                else if (item.Status == "InProgress")
                {


                    <a class="btn btn-primary rounded-1" asp-controller="Bookings" asp-action="Details" asp-route-bookingId="@item.Id" asp-route-carID="@item.CarId">View details</a>
                    <button type="button"
                            class="btn btn-info rounded-1 w-100"
                            data-bs-toggle="modal"
                            data-bs-target="#chargeModal-@item.Id">
                        Return car
                    </button>
                    @if (totalPrice > totalDeposit)
                    {
                        <div class="modal fade" id="chargeModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel-@item.Id">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="chargeModalLabel-@item.Id">Trừ tiền từ ví</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Hiển thị thông báo với số tiền cần trừ -->
                                        <p>Số ngày thực tế sử dụng: @((DateTime.Now - item.StartDateTime).Days + 1) ngày</p>
                                        <p>Số tiền thực tế sử dụng: @(totalPrice - item.Car.Deposit) VND</p>
                                        <p>Số tiền phải chi trả thêm từ ví: @(totalPrice - totalDeposit) VND</p>
                                        <p>Số tiền đặt cọc sẽ hoàn vào ví: @(item.Car.Deposit) VND</p>
                                        <p>Bạn có xác nhận chi trả?</p>
                                        <!-- Thêm form hoặc nút để xác nhận trừ tiền từ ví -->
                                        <form method="post"
                                              asp-controller="Bookings"
                                              asp-action="ReturnCar"
                                              asp-area="Customer"
                                              asp-route-bookingId="@item.Id">
                                            <div class="row">
                                                <div class="col-6 py-3">
                                                    <button type="button" class="btn btn-outline-secondary w-100" data-bs-dismiss="modal">No</button>
                                                </div>
                                                <div class="col-6 py-3">
                                                    <button type="submit" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#rateModal">Yes</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (totalPrice < totalDeposit)
                    {
                        <div class="modal fade" id="chargeModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel-@item.Id">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="chargeModalLabel-@item.Id">Hoàn trả tiền vào ví</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Hiển thị thông báo với số tiền cần trừ -->
                                        <p>Số ngày thực tế sử dụng: @((DateTime.Now - item.StartDateTime).Days + 1) ngày</p>
                                        <p>Số tiền thực tế sử dụng: @(totalPrice - item.Car.Deposit)  VND</p>
                                        <p>Số tiền thừa sẽ hoàn vào ví: @(totalDeposit - totalPrice) VND </p>
                                        <p>Số tiền đặt cọc sẽ hoàn vào ví: @(item.Car.Deposit) VND</p>
                                        <p>Bạn có xác nhận chi trả?</p>
                                        <!-- Thêm form hoặc nút để xác nhận trừ tiền từ ví -->
                                        <form method="post"
                                              asp-controller="Bookings"
                                              asp-action="ReturnCar"
                                              asp-area="Customer"
                                              asp-route-bookingId="@item.Id">
                                            <div class="row">
                                                <div class="col-6 py-3">
                                                    <button type="button" class="btn btn-outline-secondary w-100" data-bs-dismiss="modal">No</button>
                                                </div>
                                                <div class="col-6 py-3">
                                                    <button type="submit"
                                                            class="btn btn-outline-secondary w-100"
                                                            id="confirmPaymentButton"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#rateModal-@item.Id">
                                                        Yes
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="modal fade" id="chargeModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel-@item.Id">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="refundModalLabel-@item.Id">Hoàn trả tiền vào ví</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Số ngày thực tế sử dụng: @((DateTime.Now - item.StartDateTime).Days + 1) ngày</p>
                                        <p>Số tiền thực tế sử dụng : @(totalPrice - item.Car.Deposit) VND</p>
                                        <p>Số tiền cọc được hoàn trả vào ví là @((item.Car.BasePrice * ((item.EndDateTime - item.StartDateTime).Days + 1) + item.Car.Deposit) - (item.Car.BasePrice * ((DateTime.Now - item.StartDateTime).Days + 1))) VND</p>
                                        <p>Xác nhận trả xe?</p>
                                        <form method="post"
                                              asp-controller="Bookings"
                                              asp-action="ReturnCar"
                                              asp-area="Customer"
                                              asp-route-bookingId="@item.Id">
                                            <div class="row">
                                                <div class="col-6 py-3">
                                                    <button type="button" class="btn btn-outline-secondary w-100" data-bs-dismiss="modal">No</button>
                                                </div>
                                                <div class="col-6 py-3">
                                                    <button type="submit"
                                                            class="btn btn-outline-secondary w-100"
                                                            id="confirmPaymentButton"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#rateModal-@item.Id">
                                                        Yes
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                @if (item.Status == "Completed")
                {
                    <button type="button"
                            class="btn btn-info rounded-1 w-100"
                            data-bs-toggle="modal"
                            data-bs-target="#rateModal-@item.Id">
                        Rating
                    </button>
                    <div class="modal fade" id="rateModal-@item.Id" tabindex="-1" aria-labelledby="ratingModalLabel-@item.Id">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form asp-action="RateCar" method="post">
                                    <div class="modal-header text-center">
                                        <h1 class="modal-title fs-5 mx-auto ps-5" id="returncarModalLabel-@item.Id">Rate your trip</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="bookingNo" value="@item.BookingNo" />
                                        <label for="rating" class="form-label">
                                            Do you enjoy your trip, please let us know what you think
                                        </label>
                                        <div class="cont p-0 mt-0 mb-0">
                                            <div class="stars">
                                                <input class="star star-5" id="star-5-2" type="radio" name="ratings" value="5">
                                                <label class="star star-5" for="star-5-2"></label>
                                                <input class="star star-4" id="star-4-2" type="radio" name="ratings" value="4">
                                                <label class="star star-4" for="star-4-2"></label>
                                                <input class="star star-3" id="star-3-2" type="radio" name="ratings" value="3">
                                                <label class="star star-3" for="star-3-2"></label>
                                                <input class="star star-2" id="star-2-2" type="radio" name="ratings" value="2">
                                                <label class="star star-2" for="star-2-2"></label>
                                                <input class="star star-1" id="star-1-2" type="radio" name="ratings" value="1">
                                                <label class="star star-1" for="star-1-2"></label>
                                                <div class="rev-box">
                                                    <textarea class="review" col="30" name="Feedback.Content" row="5" required></textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer p-0">
                                        <div class="d-flex justify-content-between w-100">
                                            <button type="button" class="btn btn-outline-secondary w-50" data-bs-dismiss="modal">Skip</button>
                                            <button type="submit" class="btn btn-outline-warning w-50">
                                                Send Review
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="cancelModal-@item.Id"
         tabindex="-1"
         aria-labelledby="cancelModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header text-center ">
                    <h1 class="modal-title fs-5 mx-auto ps-5" id="cancelModalLabel">Cancel booking</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    Are you sure you want to cancel this booking?
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-between w-100">
                        <div class="w-50">
                            <button type="button" class="btn btn-outline-secondary w-100" data-bs-dismiss="modal">No</button>
                        </div>

                        <div class="w-50">
                            <form method="post"
                                  asp-controller="Bookings"
                                  asp-action="CancelBooking"
                                  asp-route-bookingId="@item.Id">
                                <button type="submit" class="btn btn-outline-warning w-100">Yes</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="pickupModal-@item.Id"
         tabindex="-1"
         aria-labelledby="pickupModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header text-center ">
                    <h1 class="modal-title fs-5 mx-auto ps-5" id="pickupModalLabel">Confirm pick-up</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    Are you sure you want to confirm pick-up?
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-between w-100">
                        <div class="w-50">
                            <button type="button" class="btn btn-outline-secondary w-100" data-bs-dismiss="modal">No</button>
                        </div>

                        <div class="w-50">
                            <form method="post"
                                  asp-controller="Bookings"
                                  asp-action="ConfirmPickup"
                                  asp-route-bookingId="@item.Id">
                                <button type="submit" class="btn btn-outline-warning w-100">Yes</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}



