﻿<!-- _ChargeModal.cshtml -->
<div class="modal fade" id="chargeModal" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chargeModalLabel">Trừ tiền từ ví</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Hiển thị thông báo với số tiền cần trừ -->
                <p>Số tiền cần trừ từ ví: @ViewBag.TotalAmountToPay</p>
                <!-- Thêm form hoặc nút để xác nhận trừ tiền từ ví -->
                <form method="post" asp-controller="Bookings" asp-action="ChargeFromWallet">
                    <input type="hidden" name="bookingId" value="@ViewBag.BookingId" />
                    <button type="submit" class="btn btn-primary">Xác nhận trừ tiền từ ví</button>
                </form>
            </div>
        </div>
    </div>
</div>