﻿@model CarRental.MVC.Areas.Customer.Models.BookingViewModel
@{
    ViewData["Title"] = "Details";
    string functions = Model.Car.AdditionalFunction;
    string[] functionArray = functions.Split(',', StringSplitOptions.RemoveEmptyEntries);
}
@using CarRental.Core.Common;
@using CarRental.Core.Enums
<link rel="stylesheet" href="~/css/add-a-car.css">

<h1>Details</h1>

<section id="blog" class="p_0 mt-5">

<div>

<div class="container-xl mb-5">
<div class="col-md-12 mt-5">
    <h6 class="mb-0 pt-3 ms-3 fw-normal col_oran">
        <a class="text-black" asp-action="Index" asp-controller="Home" asp-area="Customer">Home</a>
        <span class="mx-2 col_light">/</span>
        <a class="text-black" asp-area="Customer" asp-controller="Bookings" asp-action="Index">My Bookings</a>
        <span class="mx-2 col_light">/</span>
        Bookings details
    </h6>
    <h2 class="text-black mt-3 ms-3 mb-5">Bookings Details</h2>
</div>

<!-- Car preview -->
<div class="row blog_1 mb-5">
<div class="col-md-6">
    <div class="">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1">
                </button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2">
                </button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3">
                </button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4">
                </button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Url.Content(Model.CarImages.First(x => x.Description == "front").Url)" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content(Model.CarImages.First(x => x.Description == "back").Url) " class=" d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content(Model.CarImages.First(x => x.Description == "left").Url)" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content(Model.CarImages.First(x => x.Description == "right").Url)" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card-title mt-2">
        <h2>
            <a href="my-booking-details.html">@Model.Car.Name</a>
        </h2>
    </div>
    <div class="model_pg1i clearfix">
        <div class="model_m pt-3 clearfix border-top-0">
            <div class="model_pg1i2 row">
                <div class="col-md-4 col-sm-6">
                    <ul>
                        <li>
                            &#9679;
                            <strong>From:</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="model_pg1i2l">
                        <span>@Model.StartDateTime.ToString("dd/MM/yyyy - hh:mm tt")</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <ul>
                        <li>
                            &#9679;
                            <strong>To:</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="model_pg1i2l">
                        <span>@Model.EndDateTime.ToString("dd/MM/yyyy - hh:mm tt")</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="model_m clearfix border-top-0">
            <div class="model_pg1i2 row">
                <div class="col-md-4 col-sm-6">
                    <div class="model_pg1i2r">
                        <label class="mb-0 fw-bolder">Number of days:</label>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="model_pg1i2l">
                        @{
                            TimeSpan timeSpan = Model.EndDateTime - Model.StartDateTime;
                            int numberOfDays = (int)timeSpan.TotalDays + 1;

                            <span>@numberOfDays</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="model_m clearfix border-top-0 mt-3">
            <div class="model_pg1i2 row">
                <div class="col-md-4 col-sm-6">
                    <div class="model_pg1i2r">
                        <label class="mb-0 fw-bolder">Base price:</label>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="model_pg1i2l">
                        <span>@(FormatHelper.FormatCurrency(Model.Car.BasePrice))</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="model_m clearfix border-top-0 mt-3">
            <div class="model_pg1i2 row">
                <div class="col-md-4 col-sm-6">
                    <div class="model_pg1i2r">
                        <label class="mb-0 fw-bolder">Total:</label>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="model_pg1i2l">
                        @{
                            TimeSpan timeSpans = Model.EndDateTime - Model.StartDateTime;
                            int numberOfDayss = (int)timeSpans.TotalDays + 1;
                            decimal basePrice = Model.Car.BasePrice;
                            decimal totalPrice = numberOfDayss * basePrice;
                            decimal totalDeposit = basePrice * numberOfDayss;

                            <span>@FormatHelper.FormatCurrency(totalPrice)</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="model_m clearfix border-top-0 mt-3">
            <div class="model_pg1i2 row">
                <div class="col-md-4 col-sm-6">
                    <div class="model_pg1i2r">
                        <label class="mb-0 fw-bolder">Deposit:</label>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="model_pg1i2l">
                        <span>@FormatHelper.FormatCurrency((Model.Car.BasePrice * ((Model.EndDateTime - Model.StartDateTime).Days + 1) + Model.Car.Deposit))</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="model_m clearfix border-top-0 mt-3">
            <div class="model_pg1i2 row">
                <div class="col-md-4 col-sm-6">
                    <div class="model_pg1i2r">
                        <label class="mb-0 fw-bolder">Booking No.:</label>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div class="model_pg1i2l">
                        <span>
                            <strong>@Model.BookingNo</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="model_m clearfix border-top-0 mt-3">
            <div class="model_pg1i2 row">
                <div class="col-md-4 col-sm-6">
                    <div class="model_pg1i2r">
                        <label class="mb-0 fw-bolder">Booking status:</label>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6" id="booking-status">
                    <div class="model_pg1i2l">
                        @{
                            string status = Model.Status;
                            string statusClass = status == "Confirmed" ? "text-success" : "text-danger";

                            <span class="@statusClass fw-bold">@status</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-2">
    <div class="d-grid gap-2">
        @if (Model.Status == "Confirmed")
        {
                            @* <a class="btn btn-primary rounded-1" asp-controller="Bookings" asp-action="Details" asp-route-bookingId="@Model.Id" asp-route-carID="@Model.CarId">View details</a> *@

            <button type="button"
                    class="btn btn-success rounded-1"
                    data-bs-toggle="modal"
                    data-bs-target="#pickupModal-@Model.Id">
                Confirm Pick-up
            </button>
            <button type="button"
                    class="btn btn-danger rounded-1"
                    data-bs-toggle="modal"
                    data-bs-target="#cancelModal-@Model.Id">
                Cancel booking
            </button>
        }
        else if (Model.Status == "Pending" || Model.Status == "Cancelled" || Model.Status == "Completed")
        {
                            @* <a class="btn btn-primary rounded-1" asp-controller="Bookings" asp-action="Details" asp-route-bookingId="@Model.Id" asp-route-carID="@Model.CarId">View details</a> *@
        }
        else if (Model.Status == "InProgress")
        {
@* <a class="btn btn-primary rounded-1" asp-controller="Bookings" asp-action="Details" asp-route-bookingId="@Model.Id" asp-route-carID="@Model.CarId">View details</a> *@
                            @* <button type="button" *@
                            @*     class="btn btn-info rounded-1 w-100" *@
                            @*     data-bs-toggle="modal" *@
                            @*     data-bs-target="#chargeModal-@Model.Id"> *@
                            @*     Return car *@
                            @* </button> *@
            @if (totalPrice > totalDeposit)
            {
                <div class="modal fade" id="chargeModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel-@Model.Id">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="chargeModalLabel-@Model.Id">Trừ tiền từ ví</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Hiển thị thông báo với số tiền cần trừ -->
                                <p>Số ngày thực tế sử dụng: @((DateTime.Now - Model.StartDateTime).Days + 1) ngày</p>
                                <p>Số tiền thực tế sử dụng: @totalPrice VND</p>
                                <p>Số tiền cần trừ từ ví: @(totalPrice - totalDeposit)</p>
                                <p>Bạn có xác nhận chi trả?</p>
                                <!-- Thêm form hoặc nút để xác nhận trừ tiền từ ví -->
                                <form method="post"
                                      asp-controller="Bookings"
                                      asp-action="ReturnCar"
                                      asp-area="Customer"
                                      asp-route-bookingId="@Model.Id">
                                    <div class="row">
                                        <div class="col-6 py-3">
                                            <button type="button" class="btn btn-outline-secondary w-100" data-dismiss="modal">No</button>
                                        </div>
                                        <div class="col-6 py-3">
                                            <button type="submit" class="btn btn-outline-secondary w-100">Yes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="modal fade" id="chargeModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel-@Model.Id">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="refundModalLabel-@Model.Id">Hoàn trả tiền vào ví</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Số ngày thực tế sử dụng: @((DateTime.Now - Model.StartDateTime).Days + 1) ngày</p>
                                <p>Số tiền thực tế sử dụng: @totalPrice VND</p>
                                <p>Số tiền được hoàn trả vào ví là @((Model.Car.BasePrice * ((Model.EndDateTime - Model.StartDateTime).Days + 1) + Model.Car.Deposit) - (Model.Car.BasePrice * ((DateTime.Now - Model.StartDateTime).Days + 1)))</p>
                                <p>Xác nhận trả xe?</p>
                                <form method="post"
                                      asp-controller="Bookings"
                                      asp-action="ReturnCar"
                                      asp-area="Customer"
                                      asp-route-bookingId="@Model.Id">
                                    <div class="row">
                                        <div class="col-6 py-3">
                                            <button type="button" class="btn btn-outline-secondary w-100" data-dismiss="modal">No</button>
                                        </div>
                                        <div class="col-6 py-3">
                                            <button type="submit" class="btn btn-outline-secondary w-100">Yes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

</div>
<!-- Car preview -->
<!-- Cancel Booking Modal -->
<div class="modal fade"
     id="cancelModal-@Model.Id"
     tabindex="-1"
     aria-labelledby="cancelModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center ">
                <h1 class="modal-title fs-5 mx-auto ps-5" id="cancelModalLabel">Cancel booking</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                Are you sure you want to cancel this booking?
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-between w-100">
                    <div class="w-50">
                        <button type="button" class="btn btn-outline-secondary w-100" data-bs-dismiss="modal">No</button>
                    </div>

                    <div class="w-50">
                        <form method="post"
                              asp-controller="Bookings"
                              asp-action="CancelBooking"
                              asp-route-bookingId="@Model.Id">
                            <button type="submit" class="btn btn-outline-warning w-100">Yes</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cancel Booking Modal -->
<!-- Confirm pickup Modal -->
<div class="modal fade"
     id="pickupModal-@Model.Id"
     tabindex="-1"
     aria-labelledby="pickupModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center ">
                <h1 class="modal-title fs-5 mx-auto ps-5" id="pickupModalLabel">Confirm pick-up</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                Are you sure you want to confirm pick-up?
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-between w-100">
                    <div class="w-50">
                        <button type="button" class="btn btn-outline-secondary w-100" data-bs-dismiss="modal">No</button>
                    </div>

                    <div class="w-50">
                        <form method="post"
                              asp-controller="Bookings"
                              asp-action="ConfirmPickup"
                              asp-route-bookingId="@Model.Id">
                            <button type="submit" class="btn btn-outline-warning w-100">Yes</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Confirm pickup Modal -->
<!-- Nav tabs -->
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active text-black"
                id="nav-home-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-home"
                type="button"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true">
            Booking Information
        </button>
        <button class="nav-link text-black"
                id="nav-profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-profile"
                type="button"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false">
            Car Information
        </button>
        <button class="nav-link text-black"
                id="nav-contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact"
                type="button"
                role="tab"
                aria-controls="nav-contact"
                aria-selected="false">
            Payment Information
        </button>
    </div>
</nav>
<!-- Nav tabs -->

<div class="tab-content ms-4" id="nav-tabContent">

<!-- Nav tab 1 -->
<div class="tab-pane fade show active"
     id="nav-home"
     role="tabpanel"
     aria-labelledby="nav-home-tab">
<form id="signUpForm" asp-area="Customer" asp-controller="Bookings" asp-action="Details" method="post"
      enctype="multipart/form-data" class="form-group" asp-route-username="@User.Identity?.Name">
<input type="hidden" asp-for="Id"/>
<div class="model_pg1i clearfix">

<!-- Renter's information Start -->
<div class="row mt-5">
    <h3 class="mb-3">Renter's information</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Full Name</label>
                @if (Model.Status == "Cancelled" || Model.Status == "Completed")
                {
                    <input disabled type="text" asp-for="Name" class="form-control" placeholder="Full name">
                }
                else
                {
                    <input type="text" asp-for="Name" class="form-control" placeholder="Full name">
                }
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="dob" class="form-label">
                    Date of
                    birth
                </label>
                @if (Model.Status == "Cancelled" || Model.Status == "Completed")
                {
                    <input type="date" asp-for="DateOfBirth" id="DateOfBirth" class="form-control"
                           placeholder="Date of birth" aria-describedby="helpId" disabled>
                }
                else
                {
                    <input type="date" asp-for="DateOfBirth" id="DateOfBirth" class="form-control"
                           placeholder="Date of birth" aria-describedby="helpId">
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="phone" class="form-label">
                    Phone
                    number
                </label>
                @if (Model.Status == "Cancelled" || Model.Status == "Completed")
                {
                    <input type="phone" asp-for="PhoneNo" class="form-control"
                           placeholder="Phone number" aria-describedby="helpId" disabled>
                }
                else
                {
                    <input type="phone" asp-for="PhoneNo" class="form-control"
                           placeholder="Phone number" aria-describedby="helpId">
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                @if (Model.Status == "Cancelled" || Model.Status == "Completed")
                {
                    <input type="email" name="Email" id="email" class="form-control" placeholder="Email address"
                           aria-describedby="helpId" value="@ViewBag.User.Email" disabled>
                }
                else
                {
                    <input type="email" name="Email" id="email" class="form-control" placeholder="Email address"
                           aria-describedby="helpId" value="@ViewBag.User.Email">
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="NationalIDNo" class="form-label">
                    National
                    Id No:
                </label>
                @if (Model.Status == "Cancelled" || Model.Status == "Completed")
                {
                    <input type="text" asp-for="NationalIDNo" class="form-control"
                           placeholder="Email address" aria-describedby="helpId" disabled>
                }
                else
                {
                    <input type="text" asp-for="NationalIDNo" class="form-control"
                           placeholder="Email address" aria-describedby="helpId">
                }

            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="DrivingLicenseImage" class="form-label">Driving License</label>
                @if (Model.Status == "Cancelled" || Model.Status == "Completed")
                {
                    <input disabled type="file" class="form-control" asp-for="DrivingLicenseImage" id="DrivingLicenseImage" accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                }
                else
                {
                    <input type="file" class="form-control" asp-for="DrivingLicenseImage" id="DrivingLicenseImage" accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                }
            </div>
            <div class="uploader">
                <span asp-validation-for="DrivingLicenseImage" class="text-danger"></span>
            </div>
        </div>
    </div>

    @if (Model.Status == "Completed" || Model.Status == "Canceled")
    {
        <div class="row">
            <div class="col-md-6">
                <label for="CityCode" class="form-label">City</label>
                <select disabled name="CityCode" id="city" class="form-control mb-3">
                    @foreach (var item in ViewBag.City)
                    {
                                                @* <option value="" hidden>Select City</option> *@
                        if (item.CityCode == Model.CityCode)
                        {
                            <option value="@item.CityCode" selected>@item.City</option>
                        }
                        else
                        {
                            <option value="@item.CityCode">@item.City</option>
                        }
                    }
                </select>
                <label for="District" class="form-label">District</label>
                <select disabled name="District" id="district" class="form-control mb-3">
                    <option value="@Model.District" hidden>@Model.District</option>
                    <option value="" hidden>Select District</option>
                </select>
                <label for="Ward" class="form-label">Ward</label>
                <select disabled name="Ward" id="ward" class="form-control mb-3">
                    <option value="@Model.Ward" hidden>@Model.Ward</option>
                    <option value="" hidden>Select Ward</option>
                </select>
                <input disabled type="text" name="DetailAddress" id="" class="form-control mb-3"
                       placeholder="Home number, Street" aria-describedby="helpId" value="@ViewBag.User.DetailAddress">
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="DrivingLicenseImage" class="form-label">Already driving license</label>
                    <div class="uploader">
                        <label for="file-upload-2" id="file-drag-2">
                            @if (!string.IsNullOrEmpty(ViewBag.Booking.DrivingLicense))
                            {
                                <img id="file-image-2" src="@Url.Content(ViewBag.Booking.DrivingLicense)" style="max-width: 100%;" class="border border-2">
                            }
                            else if (!string.IsNullOrEmpty(ViewBag.User.DrivingLicense))
                            {
                                <img id="file-image-2" src="@Url.Content(ViewBag.User.DrivingLicense)" style="max-width: 100%;" class="border border-2">
                            }
                            else
                            {
                                <!-- Display a placeholder image or message for the case when no image is available -->
                                <img id="file-image-2" src="path-to-placeholder-image.jpg" style="max-width: 100%;" class="border border-2">
                            }
                        </label>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-6">
                <label for="CityCode" class="form-label">City</label>
                <select name="CityCode" id="city" class="form-control mb-3">
                    @foreach (var item in ViewBag.City)
                    {
                                                @* <option value="" hidden>Select City</option> *@
                        if (item.CityCode == Model.CityCode)
                        {
                            <option value="@item.CityCode" selected>@item.City</option>
                        }
                        else
                        {
                            <option value="@item.CityCode">@item.City</option>
                        }
                    }
                </select>
                <label for="District" class="form-label">District</label>
                <select name="District" id="district" class="form-control mb-3">
                    <option value="@Model.District" hidden>@Model.District</option>
                    <option value="" hidden>Select District</option>
                </select>
                <label for="Ward" class="form-label">Ward</label>
                <select name="Ward" id="ward" class="form-control mb-3">
                    <option value="@Model.Ward" hidden>@Model.Ward</option>
                    <option value="" hidden>Select Ward</option>
                </select>
                <input type="text" name="DetailAddress" id="" class="form-control mb-3"
                       placeholder="Home number, Street" aria-describedby="helpId" value="@ViewBag.User.DetailAddress">
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="DrivingLicenseImage" class="form-label">Already driving license</label>
                    <div class="uploader">
                        <label for="file-upload-2" id="file-drag-2">
                            @if (!string.IsNullOrEmpty(ViewBag.Booking.DrivingLicense))
                            {
                                <img id="file-image-2" src="@Url.Content(ViewBag.Booking.DrivingLicense)" style="max-width: 100%;" class="border border-2">
                            }
                            else if (!string.IsNullOrEmpty(ViewBag.User.DrivingLicense))
                            {
                                <img id="file-image-2" src="@Url.Content(ViewBag.User.DrivingLicense)" style="max-width: 100%;" class="border border-2">
                            }
                            else
                            {
                                <!-- Display a placeholder image or message for the case when no image is available -->
                                <img id="file-image-2" src="path-to-placeholder-image.jpg" style="max-width: 100%;" class="border border-2">
                            }
                        </label>
                    </div>
                </div>
            </div>
        </div>
    }




</div>

<!-- Renter's information End -->
<!-- ========================================= -->
<!-- Driver's Information Start -->
<div class="model_pg1i clearfix">
    <h2 class="content-header mt-5">
        Driver's Information
    </h2>
    <div class="row">
        <div class="col-md-6 mb-3">
            @if (Model.Status == "Completed" || Model.Status == "Canceled")
            {
                <input checked type="checkbox" name="diff" id="different" onclick="toggleDriverInfo()"/>
            }
            else
            {
                <input type="checkbox" name="diff" id="different" onclick="toggleDriverInfo()"/>
            }
            <label for="different">
                Different than Rental's
                information
            </label>
        </div>
    </div>
    @if (Model.Status == "Completed" || Model.Status == "Canceled")
    {
        <div id="driverInfo" style="display:none">
            <div class="row ">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="DriverName" class="form-label">Full Name</label>
                        <input disabled type="text" name="DriverName" class="form-control"
                               placeholder="Full name" aria-describedby="helpId"
                               value="@(string.IsNullOrWhiteSpace(Model.DriverName) ? "" : Model.DriverName)">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="DriverDateOfBirth" class="form-label">Date of birth</label>
                        <input disabled type="date" name="DriverDateOfBirth" class="form-control"
                               placeholder="Date of birth" aria-describedby="helpId"
                               value="@(Model.DriverDateOfBirth.HasValue ? Model.DriverDateOfBirth.Value.ToString("yyyy-MM-dd") : "")">
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="DriverNationalIDNo" class="form-label">National Id No:</label>
                        <input disabled type="text" name="DriverNationalIDNo" id="DriverNationalIDNo" class="form-control"
                               placeholder="National Id No" aria-describedby="helpId"
                               value="@(string.IsNullOrEmpty(Model.DriverNationalIDNo) ? "" : Model.DriverNationalIDNo)">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="DriverDrivingLicenseImage" class="form-label">Driving License</label>
                        <input disabled type="file" class="form-control" asp-for="DriverDrivingLicenseImage" id="DriverDrivingLicenseImage" accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                    </div>
                    <div class="uploader">
                        <span asp-validation-for="DriverDrivingLicenseImage" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row ">

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="DriverPhoneNo" class="form-label">Phone number</label>
                        <input disabled type="text" name="DriverPhoneNo" id="DriverPhoneNo" class="form-control"
                               placeholder="Phone number" aria-describedby="helpId"
                               value="@(string.IsNullOrEmpty(Model.DriverPhoneNo) ? "" : Model.DriverPhoneNo)">
                    </div>
                    <label for="DriverCityCode" class="form-label">City</label>
                    <select disabled name="DriverCityCode" id="cityDriver" class="form-control mb-3">
                        @foreach (var item in ViewBag.City)
                        {
                            <option value="" hidden>Select City</option>
                            <option value="@item.CityCode">@item.City</option>
                        }
                    </select>
                    <label for="DriverDistrict" class="form-label">District</label>
                    <select disabled name="DriverDistrict" id="districtDriver" class="form-control mb-3">
                        <option value="" hidden>Select District</option>
                    </select>
                    <label for="DriverWard" class="form-label">Ward</label>
                    <select disabled name="DriverWard" id="wardDriver" class="form-control mb-3">
                        <option value="" hidden>Select Ward</option>
                    </select>
                    <input disabled type="text" name="DriverDetailAddress" id class="form-control mb-3"
                           placeholder="Home number, Street" aria-describedby="helpId" value="@(string.IsNullOrEmpty(Model.DriverDetailAddress) ? "" : Model.DriverDetailAddress)">
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="DriverDrivingLicenseImage" class="form-label">Already driving license</label>
                        <div class="uploader">
                            <label for="file-upload-2" id="file-drag-2">
                                @if (!string.IsNullOrEmpty(ViewBag.Booking.DriverDrivingLicense))
                                {
                                    <img id="file-image-2" src="@Url.Content(ViewBag.Booking.DriverDrivingLicense)" style="max-width: 100%;" class="border border-2">
                                }
                                else
                                {
                                    <!-- Display a placeholder image or message for the case when no image is available -->
                                    <img id="file-image-2" src="~/img/TempDriverLicense.png" style="max-width: 100%;" class="border border-2">
                                }
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="driverInfo" style="display:none">
            <div class="row ">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="DriverName" class="form-label">Full Name</label>
                        <input type="text" name="DriverName" class="form-control"
                               placeholder="Full name" aria-describedby="helpId"
                               value="@(string.IsNullOrWhiteSpace(Model.DriverName) ? "" : Model.DriverName)">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="DriverDateOfBirth" class="form-label">Date of birth</label>
                        <input type="date" name="DriverDateOfBirth" class="form-control"
                               placeholder="Date of birth" aria-describedby="helpId"
                               value="@(Model.DriverDateOfBirth.HasValue ? Model.DriverDateOfBirth.Value.ToString("yyyy-MM-dd") : "")">
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="DriverNationalIDNo" class="form-label">National Id No:</label>
                        <input type="text" name="DriverNationalIDNo" id="DriverNationalIDNo" class="form-control"
                               placeholder="National Id No" aria-describedby="helpId"
                               value="@(string.IsNullOrEmpty(Model.DriverNationalIDNo) ? "" : Model.DriverNationalIDNo)">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="DriverDrivingLicenseImage" class="form-label">Driving License</label>
                        <input type="file" class="form-control" asp-for="DriverDrivingLicenseImage" id="DriverDrivingLicenseImage" accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                    </div>
                    <div class="uploader">
                        <span asp-validation-for="DriverDrivingLicenseImage" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row ">

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="DriverPhoneNo" class="form-label">Phone number</label>
                        <input type="text" name="DriverPhoneNo" id="DriverPhoneNo" class="form-control"
                               placeholder="Phone number" aria-describedby="helpId"
                               value="@(string.IsNullOrEmpty(Model.DriverPhoneNo) ? "" : Model.DriverPhoneNo)">
                    </div>
                    <label for="DriverCityCode" class="form-label">City</label>
                    <select name="DriverCityCode" id="cityDriver" class="form-control mb-3">
                        @foreach (var item in ViewBag.City)
                        {
                            <option value="" hidden>Select City</option>
                            <option value="@item.CityCode">@item.City</option>
                        }
                    </select>
                    <label for="DriverDistrict" class="form-label">District</label>
                    <select name="DriverDistrict" id="districtDriver" class="form-control mb-3">
                        <option value="" hidden>Select District</option>
                    </select>
                    <label for="DriverWard" class="form-label">Ward</label>
                    <select name="DriverWard" id="wardDriver" class="form-control mb-3">
                        <option value="" hidden>Select Ward</option>
                    </select>
                    <input type="text" name="DriverDetailAddress" id class="form-control mb-3"
                           placeholder="Home number, Street" aria-describedby="helpId" value="@(string.IsNullOrEmpty(Model.DriverDetailAddress) ? "" : Model.DriverDetailAddress)">
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="DriverDrivingLicenseImage" class="form-label">Already driving license</label>
                        <div class="uploader">
                            <label for="file-upload-2" id="file-drag-2">
                                @if (!string.IsNullOrEmpty(ViewBag.Booking.DriverDrivingLicense))
                                {
                                    <img id="file-image-2" src="@Url.Content(ViewBag.Booking.DriverDrivingLicense)" style="max-width: 100%;" class="border border-2">
                                }
                                else
                                {
                                    <!-- Display a placeholder image or message for the case when no image is available -->
                                    <img id="file-image-2" src="~/img/TempDriverLicense.png" style="max-width: 100%;" class="border border-2">
                                }
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- Driver's Information End -->
<!-- Buttons -->
<div class="row text-end mb-5 mt-5">
    <div class="text-center">
        <a type="reset" class="button_2 btn" asp-action="Index">
            Discard
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <button type="submit" class="button_2">
            Save
            <i class="fa fa-check-circle ms-1"></i>
        </button>
    </div>
</div>

</div>
</form>
</div>
<!-- Nav tab 1 -->
<!-- Nav tab 2 -->
<div class="tab-pane fade"
     id="nav-profile"
     role="tabpanel"
     aria-labelledby="nav-profile-tab">

<div class="model_pg1i clearfix">
    <div class="model_m pt-3 clearfix border-top-0 mt-3">
        <div class="model_pg1i2 row">
            <div class="col-md-4 col-sm-8">
                <div class="model_pg1i2r">
                    <label class="mb-0 fw-bolder">
                        License plate:
                        <span>@Model.Car.LicensePlate</span>
                    </label>
                </div>
            </div>
            <div class="col-md-8 col-sm-4">
                <label class="mb-0 fw-bolder">
                    Color:
                    <span>@((Color)int.Parse(Model.Car.Color))</span>
                </label>
            </div>
        </div>
    </div>
    <div class="model_m clearfix border-top-0 mt-3">
        <div class="model_pg1i2 row">
            <div class="col-md-4 col-sm-6">
                <div class="model_pg1i2r">
                    <label class="mb-0 fw-bolder">
                        Brand name:
                        <span>@ViewBag.CarBrand</span>
                    </label>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="model_pg1i2l">
                    <label class="mb-0 fw-bolder">
                        Model:
                        <span>@ViewBag.CarModel</span>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="model_m clearfix border-top-0 mt-3">
        <div class="model_pg1i2 row">
            <div class="col-md-4 col-sm-6">
                <div class="model_pg1i2r">
                    <label class="mb-0 fw-bolder">
                        Production year:
                        <span>@Model.Car.ProductionYear</span>
                    </label>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="model_pg1i2l">
                    <label class="mb-0 fw-bolder">
                        No.of seats:
                        <span>@Model.Car.Mileage</span>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="model_m clearfix border-top-0 mt-3">
        <div class="model_pg1i2 row">
            <div class="col-md-4 col-sm-6">
                <div class="model_pg1i2r">
                    <label class="mb-0 fw-bolder">
                        Transmission:
                        <span>@Model.Car.TransmissionType</span>
                    </label>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="model_pg1i2l">
                    <label class="mb-0 fw-bolder">
                        Fuel:
                        <span>@Model.Car.FuelConsumption</span>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="model_m clearfix border-top-0 mt-3">
        <div class="row">
            <div class="col-md-6">
                <div class="model_pg1i2r">
                    <label class="mb-0 fw-bolder">
                        Document:
                        <span></span>
                    </label>
                    <div class="table-active mt-3">
                        <table class="table table-striped table-bordered border-secondary">
                            <thead>
                            <tr class="table-active">
                                <th>No</th>
                                <th>Name</th>
                                <th>Note</th>
                                <th>Link</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Registration paper</td>
                                <td>Verified</td>
                                <td>
                                    <img class="w-100"
                                         src="@Url.Content(Model.Car.CarImages.FirstOrDefault(x => x.Description == CarImagePosition.Registration)?.Url)"/>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Certificate of inspection</td>
                                <td>Verified</td>
                                <td>
                                    <img class="w-100"
                                         src="@Url.Content(Model.Car.CarImages.FirstOrDefault(x => x.Description == CarImagePosition.Certificate)?.Url)"/>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Insurance</td>
                                <td>Verifired</td>
                                <td>
                                    <img class="w-100"
                                         src="@Url.Content(Model.Car.CarImages.FirstOrDefault(x => x.Description == CarImagePosition.Insurance)?.Url)"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        Note: Document will be available for viewing after you're
                        paid the deposit to rent
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="model_pg1i clearfix">
    <div class="model_m pt-3 clearfix border-top-0 mt-3">
        <div class="model_pg1i2 row">
            <div class="col-md-4 col-sm-8">
                <div class="model_pg1i2r">
                    <label class="mb-0 fw-bolder">
                        Mileage:
                        <span>@Model.Car.Mileage</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="model_pg1i clearfix">
    <div class="model_m pt-3 clearfix border-top-0 mt-3">
        <div class="model_pg1i2 row">
            <div class="col-md-2 col-sm-8">
                <div class="model_pg1i2r">
                    <label class="mb-0 fw-bolder">
                        Fuel consumption:
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="col-md-10 col-sm-4">
                <label class="mb-0 fw-bolder">
                    <span>@Model.Car.FuelConsumption /100km</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="model_pg1i clearfix">
    <div class="model_m pt-3 clearfix border-top-0 mt-3">
        <div class="model_pg1i2 row">
            <div class="col-md-10 col-sm-8">
                <div class="model_pg1i2r">
                    <label class="mb-0 fw-bolder">
                        Address:
                        <span>@Model.Car.FullText</span>
                    </label>
                </div>
                <p>
                    Note: Full address will be available after you're paid the deposit to rent
                </p>
            </div>

        </div>
    </div>
</div>
<div class="model_pg1i clearfix">
    <div class="model_m pt-3 clearfix border-top-0 mt-3">
        <div class="model_pg1i2 row">
            <div class="col-md-10 col-sm-8">
                <div class="model_pg1i2r">
                    <label class="mb-0 fw-bolder">
                        Description:
                        <span></span>
                    </label>
                </div>
                <p>
                    @Model.Car.Description
                </p>
            </div>

        </div>
    </div>
</div>
<div class="model_pg1i clearfix">
    <div class="model_m pt-3 clearfix border-top-0 mt-3">
        <div class="model_pg1i2 row">
            <div class="col-md-10 col-sm-8">
                <div class="model_pg1i2r">
                    <label class="mb-0 fw-bolder">
                        Additional functions:
                    </label>
                </div>
            </div>
        </div>
        <div class="row ms-5 mt-4">
            <div class="col-md-4">
                <div class="form-check">
                    <label class="form-check-label font_14" for="Bluetooth">
                        Bluetooth <i class='fa fa-bluetooth'></i>
                    </label>
                    @if (functionArray.Contains("Bluetooth"))
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked/>
                    }
                    else
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled/>
                    }
                </div>
                <div class="form-check">
                    <label class="form-check-label font_14" for="GPS">
                        GPS <i class='fa fa-map'></i>
                    </label>
                    @if (functionArray.Contains("GPS"))
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked/>
                    }
                    else
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled/>
                    }
                </div>
                <div class="form-check">
                    <label class="form-check-label font_14" for="Camera">
                        Camera <i class='fa fa-camera'></i>
                    </label>
                    @if (functionArray.Contains("Camera"))
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked/>
                    }
                    else
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled/>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <label class="form-check-label font_14" for="Sunroof">
                        Sun roof <i class='fa fa-camera'></i>
                    </label>
                    @if (functionArray.Contains("Sun roof"))
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked/>
                    }
                    else
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled/>
                    }
                </div>
                <div class="form-check">
                    <label class="form-check-label font_14" for="Chilllock">
                        Chill lock <i class='fa fa-unlock-alt'></i>
                    </label>
                    @if (functionArray.Contains("Chill look"))
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked/>
                    }
                    else
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled/>
                    }
                </div>
                <div class="form-check">
                    <label class="form-check-label font_14" for="Chillseat">
                        Chill seat <i class='fa fa-male'></i>
                    </label>
                    @if (functionArray.Contains("Chill seat"))
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked/>
                    }
                    else
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled/>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <label class="form-check-label font_14" for="DVD">
                        DVD <i class='fa fa-music'></i>
                    </label>
                    @if (functionArray.Contains("DVD"))
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked/>
                    }
                    else
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled/>
                    }
                </div>
                <div class="form-check">
                    <label class="form-check-label font_14" for="USB">
                        USB <i class='fa fa-usb'></i>
                    </label>
                    @if (functionArray.Contains("USB"))
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked/>
                    }
                    else
                    {
                        <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled/>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<div class="model_m pt-3 clearfix border-top-0 mt-3">
    <div class="model_pg1i2 row">
        <div class="col-md-10 col-sm-8">
            <div class="model_pg1i2r">
                <label class="mb-0 fw-bolder">
                    Terms of use:
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row ms-5 mt-4">
        <div class="col-md-3">
            <div class="form-check">
                @if (ViewBag.TermsOfUser.Contains("NoSmoking"))
                {
                    <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoSmoking"
                           id="NoSmoking" checked>
                }
                else
                {
                    <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoSmoking"
                           id="NoSmoking" disabled>
                }
                <label class="form-check-label font_14" for="NoSmoking">
                    No smoking
                </label>
            </div>
            <div class="form-check">
                @if (ViewBag.TermsOfUser.Contains("NoPet"))
                {
                    <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoPet"
                           id="NoPet" checked>
                }
                else
                {
                    <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoPet"
                           id="NoPet" disabled>
                }
                <label class="form-check-label font_14" for="NoPet">
                    No pet
                </label>
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-check">
                @if (ViewBag.TermsOfUser.Contains("NoFood"))
                {
                    <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoFood"
                           id="NoFood" checked>
                }
                else
                {
                    <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoFood"
                           id="NoFood" disabled>
                }
                <label class="form-check-label font_14" for="NoFood">
                    No food in car
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Other"
                       id="Other" disabled>
                <label class="form-check-label font_14" for="Other">
                    Other
                </label>
            </div>
            <div id="textareaContainer" style="display: none;">
                <textarea class="form-control" rows="4" id="otherTextarea"></textarea>
            </div>

        </div>
    </div>
</div>

</div>
<!-- Nav tab 2 -->
<!-- Nav tab 3 -->
<div class="tab-pane fade"
     id="nav-contact"
     role="tabpanel"
     aria-labelledby="nav-contact-tab">

    <div class="model_pg1i clearfix">
        <div class="form-check mt-3 ml-5">
            <input class="form-check-input"
                   type="radio"
                   name="exampleRadios"
                   id="exampleRadios1"
                   value="option1"
                   checked>
            <label class="form-check-label" for="exampleRadios1">
                My wallett
            </label>
        </div>
        <div>
            <p class="ml-5">Current balance: <b class="text-success"> @ViewBag.User.Wallet </b> VND</p>
        </div>
        <div>
            <p>
                Please make sure to have sufficient balance when you return the car.
            </p>
        </div>
        <div>
            <p>
                Go to
                <b class="text-warning">
                    <a asp-controller="Wallets" asp-action="Index">My wallet</a>
                </b>
            </p>
        </div>
    </div>
</div>
<!-- Nav tab 3 -->

</div>

</div>

</div>
</section>

<script src="~/js/rent-car.js"></script>

@section Scripts {
    <script>


        function loadBrands() {
            $.get('/Common/GetBrands', function (data) {
                var brandSelect = $('#Brand');
                brandSelect.empty();
                brandSelect.append($('<option>').text('Select Brand').attr('value', ''));
                $.each(data, function (i, item) {
                    brandSelect.append($('<option>').text(item).attr('value', item));
                });
            });
        }

        function loadModels() {
            var selectedBrand = $('#Brand').val();
            var modelSelect = $('#Model');
            modelSelect.empty();
            modelSelect.append($('<option>').text('Select Model').attr('value', ''));
            if (selectedBrand) {
                $.get('/Common/GetModels?brand=' + selectedBrand, function (data) {
                    $.each(data, function (i, item) {
                        modelSelect.append($('<option>').text(item).attr('value', item));
                    });
                });
            }
        }

        // JavaScript function to load districts based on the selected city
        function loadDistricts(cityCode, targetDropdownId) {
            $.ajax({
                url: '/Customer/Cars/GetDistricts?cityCode=' + cityCode,
                type: 'GET',
                success: function (data) {
                    const districtSelect = $("#" + targetDropdownId);
                    districtSelect.empty();
                    $.each(data.districts, function (key, value) {
                        districtSelect.append($('<option>').text(value).val(value));
                    });
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred while fetching districts:', error);
                    alert('An error occurred while fetching districts. Please try again later.');
                }
            });
        }

        // JavaScript function to load wards based on the selected city and district
        function loadWards(cityCode, district, targetDropdownId) {
            $.ajax({
                url: '/Customer/Cars/GetWards?cityCode=' + cityCode + '&district=' + district,
                type: 'GET',
                success: function (data) {
                    const wardSelect = $("#" + targetDropdownId);
                    wardSelect.empty();
                    $.each(data.wards, function (key, value) {
                        wardSelect.append($('<option>').text(value).val(value));
                    });
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred while fetching wards:', error);
                    alert('An error occurred while fetching wards. Please try again later.');
                }
            });
        }

        // Event handler for when the city selection changes
        $("#city").change(function () {
            var selectedCityCode = $(this).val();
            loadDistricts(selectedCityCode, "district");
        });

        $("#cityDriver").change(function () {
            var selectedCityCode = $(this).val();
            loadDistricts(selectedCityCode, "districtDriver");
        });

        // Event handler for when the district selection changes
        $("#district").change(function () {
            var selectedCityCode = $("#city").val();
            var selectedDistrict = $(this).val();
            loadWards(selectedCityCode, selectedDistrict, "ward");
        });

        $("#districtDriver").change(function () {
            var selectedCityCode = $("#cityDriver").val();
            var selectedDistrict = $(this).val();
            loadWards(selectedCityCode, selectedDistrict, "wardDriver");
        });


        // JavaScript function to toggle driver info section
        function toggleDriverInfo() {
            var checkbox = document.getElementById('different');
            var driverInfo = document.getElementById('driverInfo');

            if (checkbox.checked) {
                driverInfo.style.display = 'block'; // Show the driverInfo div
            } else {
                driverInfo.style.display = 'none';
            }
        }
        // Call toggleDriverInfo() on document ready
        $(document).ready(function () {
            toggleDriverInfo();
        });
    </script>

}