﻿@model IEnumerable<CarRental.Core.Models.Booking>
@{
    ViewData["Title"] = "Booking";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section id="blog" class="p_0 mt-5">
    <div class="container-xl">
        <div class="col-md-12 mt-5">
            <h6 class="mb-0 mt-3 ms-3 fw-normal col_oran">
                <a class="text-black" asp-action="Index" asp-controller="Home" asp-area="Customer">Home</a>
                <span class="mx-2 col_light">/</span>
                My Bookings
            </h6>
            <h2 class="text-black mt-3 ms-3">My Bookings</h2>
        </div>
        <div class="row mb-3 border-bottom border-dark">
            @{
                // count numbers of on-going bookings
                int confirmedBookingCount = Model.Count(item => item.Status == "Confirmed" || item.Status == "Pending" || item.Status == "InProgress");
            }

            <div class="col-md-4 mt-3">
                <p class="ms-5">You have @confirmedBookingCount on-going bookings</p>
            </div>
            <div class="col-md-2 offset-md-6">
                <select id="sorting-select" class="form-select">
                    <option>Newest to latest</option>
                    <option>Latest to newest</option>
                    <option>Price highest to lowest</option>
                    <option>Price lowest to highest</option>
                </select>
            </div>
        </div>
        <div id="booking-list">
            @Html.Partial("_BookingListPartial", Model)
        </div>
        <div id="pagination-container" class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-4 mb-0">
                <ul class="pagination">
                    <li class="page-item" id="page-previous">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item" id="page-next">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mt-0 d-flex align-items-center">
                <select id="items-per-page" class="mr-2">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                </select>
                <p class="mb-1 ms-1">per page</p>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            var currentPage = 1;
            var pageSize = 10;
            var totalItems = 0;

            function loadPage(pageNumber) {
                var selectedOption = $("#sorting-select").val();

                $.ajax({
                    url: '/Customer/Bookings/SortBookings',
                    type: 'POST',
                    data: {
                        selectedOption: selectedOption,
                        page: pageNumber,
                        pageSize: pageSize
                    },
                    success: function (data) {
                        $('#booking-list').html(data);
                        updateItemsDisplayCount();
                        updatePaginationButtons();
                    },
                    error: function () {
                        alert('An error occurred while sorting.');
                    }
                });
            }

            function updateItemsDisplayCount() {
                var itemsCount = $("#booking-list").find(".booking-item").length;
                $("#items-display-count").text(itemsCount);
            }

            function updatePaginationButtons() {

                if (currentPage === 1) {
                    $("#page-previous").addClass("disabled");
                } else {
                    $("#page-previous").removeClass("disabled");
                }


                var totalPages = Math.ceil(totalItems / pageSize);
                if (currentPage === totalPages) {
                    $("#page-next").addClass("disabled");
                } else {
                    $("#page-next").removeClass("disabled");
                }
            }


            loadPage(currentPage);

            $("#sorting-select").on("change", function () {
                currentPage = 1;
                loadPage(currentPage);
            });

            $("#page-previous").on("click", function () {
                if (currentPage > 1) {
                    currentPage--;
                    loadPage(currentPage);
                }
            });

            $("#page-next").on("click", function () {
                if (!$("#page-next").hasClass("disabled")) {
                    currentPage++;
                    loadPage(currentPage);
                }
            });

            $("#items-per-page").on("change", function () {
                pageSize = parseInt($(this).val());
                currentPage = 1;
                loadPage(currentPage);
            });


            totalItems = @Model.Count();
            updatePaginationButtons();
        });


    </script>
}
