@{
    Layout = "_Layout";
    ViewData["Title"] = "About Us";
}
<link href="~/css/global.css" rel="stylesheet">
<link href="~/css/about.css" rel="stylesheet">
<div class="main_2 clearfix">
    <section id="center" class="center_login">
        <div class="center_om clearfix">
            <div class="container-xl">
                <div class="row center_o1">
                    <div class="col-md-12">
                        <h2 class="text-white">About Us</h2>
                        <h6 class="mb-0 mt-3 fw-normal col_oran">
                            <a class="text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <span class="mx-2 col_light">/</span> About Us
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section id="about_pg" class="p_3">
            <div class="container-xl">
                <div class="about_pg1 row">
                    <div class="col-md-6">
                        <div class="about_pgl clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#">
                                        <img src="~/img/about-us.jpg" class="w-100" alt="abc">
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_pgr clearfix">
                            <h4 class="col_oran">ABOUT US</h4>
                            <h2>
                                Car Rental Project
                            </h2>
                            <p class="mt-3">
                                This is a car rental website project for vehicle owners and customers. The target audience is vehicle owners who have spare cars and want to find customers in a flexible manner. Customers can also easily and conveniently access car rental services.
                            </p>
                            <p>
                                <i class="fa fa-check-circle col_oran me-1"></i>
                                For vehicle owners, they can post their cars for rental, set the deposit, enable automatic payment, pause renting, and so on.
                            </p>
                            <p>
                                <i class="fa fa-check-circle col_oran me-1"></i>
                                For customers, they can search for vehicles, rent cars, return vehicles, and make payments via e-wallets, etc.
                            </p>
                            <h6 class="mb-0">
                                <a class="button" asp-area="Accounts" asp-controller="Auth" asp-action="Login">
                                    Discover More
                                    <i class="fa fa-check-circle ms-1"></i>
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="team" class="p_3">
            <div class="container-xl">
                <div class="row trip_1 text-center mb-4">
                    <div class="col-md-12">
                        <h5 class="col_oran">Our Team</h5>
                        <h1>Best Team Members</h1>
                        <p class="mb-0">
                            To contribute to positive change and achieve our sustainability
                            <br>
                            goals with many
						extraordinary
                        </p>
                    </div>
                </div>
                <div class="row team_1">
                    <div class="col-md-3 col-sm-6">
                        <div class="team_1i text-center">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#">
                                        <img src="~/img/namph.jpg" class="w-100" alt="abc">
                                    </a>
                                </figure>
                            </div>
                            <div class="team_1i1 bg_light p-3">
                                <h4>Pham Hoai Nam</h4>
                                <h5 class="col_oran fw-normal">Developer</h5>
                                <ul class="social-network social-circle mb-0 mt-3">
                                    <li>
                                        <a href="#" class="icoRss" title="Rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoFacebook" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoTwitter" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoGoogle" title="Google +">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoLinkedin" title="Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="team_1i text-center">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#">
                                        <img src="~/img/thaidv.jpg" class="w-100" alt="abc">
                                    </a>
                                </figure>
                            </div>
                            <div class="team_1i1 bg_light p-3">
                                <h4>Do Van Thai</h4>
                                <h5 class="col_oran fw-normal">Developer</h5>
                                <ul class="social-network social-circle mb-0 mt-3">
                                    <li>
                                        <a href="#" class="icoRss" title="Rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoFacebook" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoTwitter" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoGoogle" title="Google +">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoLinkedin" title="Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="team_1i text-center">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#">
                                        <img src="~/img/huynq.jpg" class="w-100" alt="abc">
                                    </a>
                                </figure>
                            </div>
                            <div class="team_1i1 bg_light p-3">
                                <h4>Ngo Quang Huy</h4>
                                <h5 class="col_oran fw-normal">Developer</h5>
                                <ul class="social-network social-circle mb-0 mt-3">
                                    <li>
                                        <a href="#" class="icoRss" title="Rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoFacebook" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoTwitter" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoGoogle" title="Google +">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoLinkedin" title="Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="team_1i text-center">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#">
                                        <img src="~/img/phuongdm.jpg" class="w-100" alt="abc">
                                    </a>
                                </figure>
                            </div>
                            <div class="team_1i1 bg_light p-3">
                                <h4>Dang Minh Phuong</h4>
                                <h5 class="col_oran fw-normal">Developer</h5>
                                <ul class="social-network social-circle mb-0 mt-3">
                                    <li>
                                        <a href="#" class="icoRss" title="Rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoFacebook" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoTwitter" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoGoogle" title="Google +">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icoLinkedin" title="Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>