﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-dark">
    <div class="container bg-dark bg-custom">
        <div class="main_2 clearfix">
            <div class="row align-items-end">
                <div class="col-md-6 mt-5">
                    <section class="center_home text-center">
                        <div class="carousel-inner">
                            <h1 class="font-weight-bold  text-white">  <span class="text-danger">Look for</span> a vehicle?</h1>
                            <h1 class="font-weight-bold text-white">You're at<span class="text-danger"> right place</span></h1>
                            <p class="mt-4 mb-4 text-white">Choose between your 100's private car for rent at a very really low price</p>
                            <h6 class="d-inline-block me-2 mb-0"><a class="btn btn-danger" asp-area="Customer" asp-controller="Home" asp-action="Index">Find a rental care near you <i class="fa fa-check-circle ms-1"></i></a></h6>
                        </div>
                    </section>
                </div>

                <!-- Right Section -->
                <div class="col-md-6 mt-5">
                    <section class="center_home text-center">
                        <div class="carousel-inner">
                            <h1 class="font-weight-bold text-white"> Are you a <span class="text-danger">car owner</span>?</h1>
                            <p class="mt-4 mb-4 text-white">List your car and make money from asset today!</p>
                            <h6 class="d-inline-block me-2 mb-0"><a class="btn btn-danger" asp-area="CarOwner" asp-controller="Cars" asp-action="Index">List your car today <i class="fa fa-check-circle ms-1"></i></a></h6>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>

<section class="mt-5">
    <div class="container-xl">
        <div class="row trip_1 text-center mb-4">
            <div class="col-md-12">
                <h1 class="mb-0" style="text-align: left;">Why us?</h1>
            </div>
        </div>
        <div class="row trip_2">
            <div class="col-md-3">
                <div class="trip_2i text-center" id="column1">
                    <span class="d-inline-block fs-1"><a class="col_oran" href="#"><i class="fa fa-money"></i></a></span>
                    <h3 class="mt-3"><a href="#">Money</a></h3>
                    <p class="mb-0 mt-3">We have no set up or registration fees. You only charge when you rent a car. So get started for FREE.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="trip_2i text-center" id="column2">
                    <span class="d-inline-block fs-1"><a class="col_oran" href="#"><i class="fa fa-user"></i></a></span>
                    <h3 class="mt-3"><a href="#">Convenient</a></h3>
                    <p class="mb-0 mt-3">We have a large selection of privately owned cars to suit your needs throughout the country</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="trip_2i text-center" id="column3">
                    <span class="d-inline-block fs-1"><a class="col_oran" href="#"><i class="fas fa-gavel"></i></a></span>
                    <h3 class="mt-3"><a href="#">Legal and insurance</a></h3>
                    <p class="mb-0 mt-3">We fully cover all rentals and even provide roadside assistance. Our rating system and extended member profile checks provide safety</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="trip_2i text-center" id="column4">
                    <span class="d-inline-block fs-1"><a class="col_oran" href="#"><i class="fa fa-headphones"></i></a></span>
                    <h3 class="mt-3"><a href="#">24/7 support</a></h3>
                    <p class="mb-0 mt-3">Our team is ready to support you all along the way with our 24/7 hotline and services</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="choose" class="p_3">
    <div class="container-xl">
        <div class="col-md-12 mb-5">
            <h1 class="mb-0" style="text-align: left;">What people say?</h1>
        </div>
        <div class="row">
            @foreach (var feedbackItem in ViewBag.Feedback)
            {
                <div class="col-md-4 mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="choose_1ril">
                                <span class="fs-1 d-inline-block text-center col_oran"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4>@feedbackItem.Booking.Name</h4>
                            <p class="mb-0 mt-3">@feedbackItem.Content</p>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>


<section id="blog_h" class="p_3 bg_light">
    <div class="container-xl">
        <div class="row trip_1 text-center mb-4">
            <div class="col-md-12">
                <h1 style="text-align: left;">Where to find us?</h1>
            </div>
        </div>
        <div class="row blog_h_1">
            @foreach (var cityInfo in ViewBag.TopCitiesBooking)
            {
                <div class="col-md-4 mt-4">
                    <div class="blog_h_1m position-relative clearfix">
                        <div class="blog_h_1mi clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="./img/car-rent-city.jpg" class="w-100" alt="@cityInfo.City"></a>
                                    <div class="overlay">
                                        <figcaption>
                                            <h4>@cityInfo.City</h4>
                                            <p>@cityInfo.TotalBookings+ cars</p>
                                        </figcaption>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>