﻿
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-5 text-center">
    <h1 class="mt-5 mt-5 text-danger">Access Denied</h1>

    <h1 class="mt-5 mt-5 text-danger">Access Denied</h1>

    <a class="btn btn-primary px-3" asp-area="" asp-controller="Home" asp-action="Index">Go back to home</a>
</div>

