﻿@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main>
    <section class="main_2 clearfix">
        <div id="center" class="center_reg">
            <div class="center_om clearfix">
                <div class="container-xl">
                    <div class="row center_o1">
                        <div class="col-md-12">
                            <h2 class="text-white">Forgot password</h2>
                            <h6 class="mb-0 mt-3 fw-normal col_oran">
                                <a class="text-light" asp-controller="Home" asp-action="Index">Home</a> <span class="mx-2 col_light">/</span> Forgot password
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <section id="login" class="p_3">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <div class="login_1 p-4 m-auto text-center">
                        <h1 class="col_oran mb-3">Forgot Password Confirmation</h1>
                        <p class="mb-3">We have sent a reset password email to your email, please check your inbox!</p>
                        <a class="btn btn-outline-dark" asp-area="" asp-action="Index" asp-controller="Home">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />

</main>