﻿@model CarRental.MVC.Areas.Accounts.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="main_2 clearfix">
        <div id="center" class="center_reg">
            <div class="center_om clearfix">
                <div class="container-xl">
                    <div class="row center_o1">
                        <div class="col-md-12">
                            <h2 class="text-white">Forgot password</h2>
                            <h6 class="mb-0 mt-3 fw-normal col_oran">
                                <a class="text-light" asp-controller="Home" asp-action="Index">Home</a> <span class="mx-2 col_light">/</span> Forgot password
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="login" class="p_3">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="ForgotPassword" class="login_1 p-4 m-auto">
                        <h3 class="col_oran text-center">Reset Password</h3>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <p class="text-center mt-3">
                            Enter your email associated with your account and we'll email
                            you with the link to reset your password.
                        </p>
                        <div class="mb-3">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary button">SUBMIT <i class="fa fa-sign-in ms-1"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <hr />

</main>


