﻿@model CarRental.MVC.Areas.Accounts.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
<div class="main_2 clearfix">
    <section id="center" class="center_login">
        <div class="center_om clearfix">
            <div class="container-xl">
                <div class="row center_o1">
                    <div class="col-md-12">
                        <h2 class="text-white">Login</h2>
                        <h6 class="mb-0 mt-3 fw-normal col_oran">
                            <a class="text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <span class="mx-2 col_light">/</span> Login
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section id="login" class="p_3">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Login" class="login_1 p-4 m-auto">
                    <h3 class="col_oran text-center">Login</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <input type="hidden" asp-for="ReturnUrl" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-between mt-4">
                        <div class="form-group form-check mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" id="remember" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                            </label>
                        </div>
                        <a class="col_oran" asp-area="Accounts" asp-action="ForgotPassword" asp-controller="Auth">Forgot Password?</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary button">LOG IN <i class="fa fa-sign-in ms-1"></i></button>
                        
                    </div>
                    <p class="mt-4 mb-0">
                        Don't have an account?
                        <a class="col_oran" asp-area="Accounts" asp-controller="Auth" asp-action="Register">Register</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
<hr />
@* 
<section id="login" class="p_3">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <div class="login_1 p-4 m-auto">
                    <h3 class="col_oran">Login</h3>
                    <p>login with your Car Lease account</p>
                    <h6 class="mt-4">Email Address</h6>
                    <input type="email" class="form-control" placeholder="Your Email">
                    <h6 class="mt-4">Password</h6>
                    <input type="email" class="form-control" placeholder="Your Password">
                    <div class="d-flex justify-content-between mt-4">
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   id="remember">
                            <label class="form-check-label" for="remember">
                                Remember Me
                            </label>
                        </div>
                        <a class="col_oran" href="#">Forgot Password?</a>
                    </div>
                    <h6 class="mt-4 mb-0">
                        <a class="button" href="#">
                            Login
                            <i class="fa fa-sign-in ms-1"></i>
                        </a>
                    </h6>
                    <p class="mt-4 mb-0">
                        Don't have an account?
                        <a class="col_oran" href="register.html">Register</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> *@