﻿@model CarRental.MVC.Areas.Accounts.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<div class="main_2 clearfix">
    <section id="center" class="center_login">
        <div class="center_om clearfix">
            <div class="container-xl">
                <div class="row center_o1">
                    <div class="col-md-12">
                        <h2 class="text-white">Register</h2>
                        <h6 class="mb-0 mt-3 fw-normal col_oran">
                            <a class="text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <span class="mx-2 col_light">/</span> Register
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section id="login" class="p_3">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Register" class="login_1 p-4 m-auto">
                    <h3 class="col_oran text-center mb-3">Register</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ReturnUrl" class="form-control" />

                    <div class="form-group mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="radio" id="rentCarCheckbox" name="RoleSelected" value="Customer">
                        <label class="form-check-label" for="rentCarCheckbox">I want to rent a car</label>
                    </div>
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="radio" id="carOwnerCheckbox" name="RoleSelected" value="CarOwner">
                        <label class="form-check-label" for="carOwnerCheckbox">I am a car owner</label>
                    </div>

                    <div class="form-group mt-3 text-center">
                        <button type="submit" class="btn btn-primary button" >
                            SIGN UP
                            <i class="fa fa-location-arrow ms-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@*
<section id="login" class="p_3">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <div class="login_1 p-4 m-auto">
                    <h3 class="col_oran">Register</h3>
                    <p>create your Car Lease account</p>
                    <h6 class="mt-4">Full Name</h6>
                    <input type="email" class="form-control" placeholder="Your Name">
                    <h6 class="mt-4">Email Address</h6>
                    <input type="email" class="form-control" placeholder="Your Email">
                    <h6 class="mt-4">Password</h6>
                    <input type="email" class="form-control" placeholder="Your Password">
                    <div class="d-flex justify-content-between mt-4">
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   id="remember">
                            <label class="form-check-label" for="remember">
                                I agree with the
                                <a class="col_oran" href="#">Terms Of Service</a>
                            </label>
                        </div>
                    </div>
                    <h6 class="mt-4 mb-0">
                        <a class="button" href="#">
                            Register
                            <i class="fa fa-location-arrow ms-1"></i>
                        </a>
                    </h6>
                    <p class="mt-4 mb-0">
                        Already have an account?
                        <a class="col_oran" href="login.html">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> *@
