﻿@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="main_2 clearfix">
        <div id="center" class="center_reg">
            <div class="center_om clearfix">
                <div class="container-xl">
                    <div class="row center_o1">
                        <div class="col-md-12">
                            <h2 class="text-white">Forgot password</h2>
                            <h6 class="mb-0 mt-3 fw-normal col_oran">
                                <a class="text-light" href="#">Home</a> <span class="mx-2 col_light">/</span> Forgot password
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="login" class="p_3">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="ResetPassword" asp-controller="Auth" asp-area="Accounts" class="login_1 p-4 m-auto">
                        <h3 class="col_oran text-center">Reset Password</h3>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Email" class="form-control" />
                        <input type="hidden" asp-for="Token" class="form-control" />
                        <p class="text-center mt-3">
                            Please set your new password
                        </p>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" asp-for="Password" id="Password" placeholder="Pick a password">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="mb-3">
                            <p><i>Use at least one letter, one number, and seven characters.</i></p>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirm password</label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm password">
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary button">Reset <i class="fa fa-sign-in ms-1"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <hr />
</main>

