﻿
@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="main_2 clearfix">
        <div id="center" class="center_reg">
            <div class="center_om clearfix">
                <div class="container-xl">
                    <div class="row center_o1">
                        <div class="col-md-12">
                            <h2 class="text-white">Forgot password</h2>
                            <h6 class="mb-0 mt-3 fw-normal col_oran">
                                <a class="text-light" href="#">Home</a> <span class="mx-2 col_light">/</span> Forgot password
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="login" class="p_3">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <div class="login_1 p-4 m-auto">
                        <h1>Reset Password Confirmation</h1>
                        <p>
                            Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
</main>

