﻿@using CarRental.Core.Common;
@model IEnumerable<CarRental.Core.Models.Car>

<div class="row mb-5 item tab-pane fade show active" id="pills-gird">
    @foreach (var item in Model)
    {
        <div class="d-flex">
            <div class="col-md-6">
                <div class="card-body">
                    <div id="carouselExampleIndicators-@item.Id" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="@Url.Content(item.CarImages.First(x => x.Description == "front").Url)" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="@Url.Content(item.CarImages.First(x => x.Description == "back").Url) " class=" d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="@Url.Content(item.CarImages.First(x => x.Description == "left").Url)" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="@Url.Content(item.CarImages.First(x => x.Description == "right").Url)" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2 ms-3">
                <div class="card-title mt-2">
                    <h2>@item.Name</h2>
                </div>

                <div class="model_pg1i clearfix">
                    <div class="model_m pt-3 clearfix border-top-0">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-8">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">Ratings (@item.Bookings.Count(b => b.Feedback != null && b.Feedback.Ratings > 0)): </label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-4">
                                <div class="model_pg1i2l">
                                    @{
                                        var avgRate = 0.0;
                                        var totalRatings = 0;
                                        var rateCount = 0;
                                        if (item.Bookings.Any(b => b.Feedback != null))
                                        {
                                            totalRatings = item.Bookings.Where(b => b.Feedback != null).Sum(b => b.Feedback.Ratings);
                                            rateCount = item.Bookings.Count(b => b.Feedback != null && b.Feedback.Ratings > 0);
                                            avgRate = (double)totalRatings / rateCount;
                                        }
                                    }
                                    @if (avgRate == 0)
                                    {
                                        <span class="font_12">0 <i style="color: yellow" class="fa fa-star"></i></span>
                                    }
                                    else
                                    {
                                        @avgRate
                                        <span class="font_12"><i style="color: yellow" class="fa fa-star"></i></span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">No.of rides:</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    <span>@item.Bookings.Count</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0 mt-3">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">Price:</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    <span>@FormatHelper.FormatCurrency(item.BasePrice) /day</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0 mt-3">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">Locations:</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    <span>@item.FullText</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0 mt-3">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">Status:</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    @{
                                        DateTime now = DateTime.Now;
                                        bool isAvailable = !item.Bookings.Any(x => now >= x.StartDateTime && now <= x.EndDateTime);
                                        string status = isAvailable ? "Available" : "Confirmed";
                                    }
                                    <span class="text-success fw-bold">
                                        @status
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mt-3">
                <div class="d-grid gap-2">
                    <div class="d-grid gap-2">
                        <a class="btn btn-success rounded-1" asp-controller="Cars" asp-area="Customer" asp-action="RentCar" asp-route-id="@item.Id" asp-route-fulltext="@item.FullText">Rent Car</a>
                        <a class="btn btn-primary rounded-1" asp-controller="Cars" asp-area="Customer" asp-action="Detail" asp-route-id="@item.Id" asp-route-fulltext="@item.FullText">View Details</a>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row blog_1 mb-5 item tab-pane fade " id="pills-list">
    <div class="table">
        <div class="mt-3">
            <table class="table table-striped table-bordered" id="dataTable">
                <thead>
                    <tr class="table-active">
                        <th>No</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Ratings</th>
                        <th>No.of Rides</th>
                        <th>Price</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="row-number"></td>
                            <td>@item.Name</td>
                            <td>
                                <img src="@Url.Content(item.CarImages.First(x => x.Description == "front").Url)" class="d-block w-100" height="100" alt="...">
                            </td>
                            <td>No ratings</td>
                            <td>@item.Bookings.Count</td>
                            <td>@item.BasePrice /day</td>
                            <td>@item.FullText</td>
                            <td>Available</td>
                            <td class="d-grid gap-2 mx-auto">
                                <a class="btn btn-primary btn-sm rounded-3" asp-area="Customer" asp-controller="Cars" asp-action="RentCar" asp-route-carID="@item.Id">Rent now</a>
                                <a class="btn btn-primary btn-sm rounded-3" asp-action="Detail" asp-route-id="@item.Id">View Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // Lấy tất cả các phần tử <td> trong cột "No"
    const rowNumbers = document.querySelectorAll('.row-number');

    // Duyệt qua từng phần tử và gán giá trị số tự tăng
    rowNumbers.forEach((row, index) => {
        row.textContent = index + 1;
    });
    $(document).ready(function () {
        $('#dataTable').DataTable({
            searching: true, // Enable searching
            ordering: true,  // Enable sorting
            paging: true,    // Enable pagination
        });
    });
</script>