﻿@model CarRental.MVC.Areas.Customer.Models.CustomerCarViewModel
@using CarRental.Core.Enums
@{
    ViewData["Title"] = "Detail";

    // list additional function
    string functions = Model.AdditionalFunction;
    string[] functionArray = functions.Split(',', StringSplitOptions.RemoveEmptyEntries);

    // list term of user
    string termOfUser = Model.TermsOfUser;
    string[] termOfUserArray = termOfUser.Split(',', StringSplitOptions.RemoveEmptyEntries);
}

<section id="blog" class="p_3 mt-5">
    <div class="container-xl">
        <div class="col-md-12 mt-5">
            <h6 class="mb-0 mt-3 ms-3 fw-normal col_oran">
                <a class="text-black" asp-action="Index" asp-controller="Home" asp-area="Customer">Home</a>
                <span class="mx-2 col_light">/</span>
                Car Detail
            </h6>
            <h2 class="text-black mt-3 ms-3">Car Details</h2>
        </div>
        <div class="row blog_1">
            <div class="col-md-6">
                <div class="card-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <img src="@Url.Content(Model.ImageUrlFront)" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="@Url.Content(Model.ImageUrlBack)" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="@Url.Content(Model.ImageUrlLeft)" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="@Url.Content(Model.ImageUrlRight)" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carImageSlider" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carImageSlider" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-title mt-2">
                    <h2>@Model.Name</h2>
                </div>

                <div class="model_pg1i clearfix">
                    <div class="model_m pt-3 clearfix border-top-0">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-8">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">Ratings:</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-4">
                                <div class="model_pg1i2l">
                                    @if (double.IsNaN(ViewBag.AvgRate) || ViewBag.AvgRate == 0)
                                    {
                                        <span class="font_12">
                                            0 <i style="color:yellow" class="fa fa-star"></i>
                                        </span>
                                    }
                                    else
                                    {
                                        @ViewBag.AvgRate
                                        <span class="font_12">
                                            <i style="color:yellow" class="fa fa-star"></i>
                                        </span>
                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">No.of rides:</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    <span>@Model.Bookings?.Count</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0 mt-3">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">Price:</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    <span>@Model.BasePrice / day</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0 mt-3">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">Locations:</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    <span>@ViewBag.FullText</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0 mt-3">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">Status:</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    @{
                                        DateTime now = DateTime.Now;
                                        bool isAvailable = !Model.Bookings.Any(x => now >= x.StartDateTime && now <= x.EndDateTime);
                                        string status = isAvailable ? "Available" : "Confirmed";
                                    }
                                    <span class="text-success fw-bold">
                                        @status
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mt-3">
                @* <div class="button-confirm">
                    <button class="btn btn-primary rounded-1 btn-sm">Rent now</button>
                </div> *@
            </div>
            <nav class="ms-3">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active text-black" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">
                        Basic Information
                    </button>
                    <button class="nav-link text-black" id="nav-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                            aria-selected="false">
                        Details
                    </button>
                    <button class="nav-link text-black" id="nav-contact-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                            aria-selected="false">
                        Terms of
                        use
                    </button>
                </div>
            </nav>
            <div class="tab-content ms-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-4 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            License plate:
                                            <span>@Model.LicensePlate</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-4">
                                    <label class="mb-0 fw-bolder">
                                        Color:
                                        <span>
                                            @((Color)int.Parse(Model.Color))
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="model_m clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Brand name:
                                            <span>@Model.BrandModel?.Brand</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <div class="model_pg1i2l">
                                        <label class="mb-0 fw-bolder">
                                            Model:
                                            <span>@Model.BrandModel?.Model</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="model_m clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Production year:
                                            <span>@Model.ProductionYear</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <div class="model_pg1i2l">
                                        <label class="mb-0 fw-bolder">
                                            No.of seats:
                                            <span>@Model.NumberOfSeat</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="model_m clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Transmission:
                                            <span>@Model.TransmissionType</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <div class="model_pg1i2l">
                                        <label class="mb-0 fw-bolder">
                                            Fuel:
                                            <span>@Model.FuelConsumption</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="model_m clearfix border-top-0 mt-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Document:
                                            <span></span>
                                        </label>
                                        <div class="table-active mt-3">
                                            <table class="table table-striped  table-bordered">
                                                <thead>
                                                    <tr class="table-active">
                                                        <th>No</th>
                                                        <th>Name</th>
                                                        <th>Note</th>
                                                        <th>Link</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Registration paper</td>
                                                        <td>Verified</td>
                                                        <td>
                                                            <img class="w-100"
                                                                 src="@Url.Content(Model.ImageUrlRegistration)" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Certificate of inspection</td>
                                                        <td>Verified</td>
                                                        <td>
                                                            <img class="w-100"
                                                                 src="@Url.Content(Model.ImageUrlCertificate)" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Insuarace</td>
                                                        <td>Verified</td>
                                                        <td>
                                                            <img class="w-100"
                                                                 src="@Url.Content(Model.ImageUrlInsurance)" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            Note: Document will be available for viewing after you're
                                            paid the deposit to rent
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-4 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Mileage:
                                            <span>@Model.Mileage</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-2 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Fuel consumption:
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-4">
                                    <label class="mb-0 fw-bolder">
                                        <span>@Model.FuelConsumption /100km</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-10 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Address:
                                            <span>@ViewBag.FullText</span>
                                        </label>
                                    </div>
                                    <p>
                                        Note: Full address will be available after you're paid the deposit to rent
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-10 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Description:
                                            <span></span>
                                        </label>
                                    </div>
                                    <p>
                                        @Model.Description
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-10 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Additional functions:
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row ms-5 mt-4">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="Bluetooth">
                                            Bluetooth <i class='fa fa-bluetooth'></i>
                                        </label>
                                        @if (functionArray.Contains("Bluetooth"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="GPS">
                                            GPS <i class='fa fa-map'></i>
                                        </label>
                                        @if (functionArray.Contains("GPS"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="Camera">
                                            Camera <i class='fa fa-camera'></i>
                                        </label>
                                        @if (functionArray.Contains("Camera"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="Sunroof">
                                            Sun roof <i class='fa fa-camera'></i>
                                        </label>
                                        @if (functionArray.Contains("Sun roof"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="Chilllock">
                                            Chill lock <i class='fa fa-unlock-alt'></i>
                                        </label>
                                        @if (functionArray.Contains("Chill look"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="Chillseat">
                                            Chill seat <i class='fa fa-male'></i>
                                        </label>
                                        @if (functionArray.Contains("Chill seat"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="DVD">
                                            DVD <i class='fa fa-music'></i>
                                        </label>
                                        @if (functionArray.Contains("DVD"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="USB">
                                            USB <i class='fa fa-usb'></i>
                                        </label>
                                        @if (functionArray.Contains("USB"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-2 col-sm-10">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">Base price:</label>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-4">
                                    <label class="mb-0 border border-secondary rounded-1">@Model.BasePrice</label>
                                    <span class="mb-0 fw-bolder ms-3">VND/DAY</span>
                                </div>
                            </div>

                        </div>
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-2 col-sm-10">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">Required Deposit:</label>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-4">
                                    <label class="mb-0 border border-secondary rounded-1">@Model.Deposit</label>
                                    <span class="mb-0 fw-bolder ms-3">VND</span>
                                </div>
                            </div>
                        </div>
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-10 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Additional functions:
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row ms-5 mt-4">
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="NoSmoking">
                                            No smoking
                                        </label>
                                        @if (termOfUserArray.Contains("NoSmoking"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="NoPet">
                                            No pet
                                        </label>
                                        @if (termOfUserArray.Contains("NoPet"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="NoFood">
                                            No food in car
                                        </label>
                                        @if (termOfUserArray.Contains("NoFood"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label font_14" for="Other">
                                            Other
                                        </label>
                                        @if (termOfUserArray.Contains("Other"))
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckChecked" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input d-block" type="checkbox" aria-hidden="true" id="flexCheckDisabled" disabled />
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.min.js"></script>