﻿@{
	ViewData["Title"] = "Cars";
}

<div class="container-fluid bg-dark">
	<div class="container bg-dark bg-custom">
		<div class="row choose_1">
			<div class="col-md-5">
				<div class="choose_1l">
					<h1 class="text-white">Looking for a vehicle?<br>You're at the right place</h1>
					<p class="mt-3">
						We have a large selection of locally owned cars available for you to choose from.
						Rental plans are customized to suit your needs. <br>
						With over 300 cars located nationwide, we will have something for you.
					</p>
					<h6 class="mb-0 mt-4"><a class="button" href="#">Find Deals <i class="fa fa-check-circle ms-1"></i> </a></h6>
				</div>
			</div>
			<div class="col-md-7">
				<!-- Search Form -->
				<form class="form-inline" method="GET" asp-area="Customer" asp-controller="Cars" asp-action="SearchCar">
					<h3 class="text-white">Find the ideal rental car for your trip</h3>
					<div class="form-group mt-4">
						<h4 class="text-white">PICK UP LOCATION</h4>
						<input type="text" name="location" class="form-control" id="pickupLocation" placeholder="Pickup location">
					</div>
					<div class="form-group mt-4">
						<h4 class="text-white">PICK UP DATE AND TIME</h4>
						<div class="d-flex align-items-center">
							<input type="datetime-local" class="form-control" name="pickupDateTime" id="pickupDateTime">
						</div>
					</div>
					<div class="form-group mt-4">
						<h4 class="text-white">DROP OFF DATE AND TIME</h4>
						<div class="d-flex align-items-center">
							<input type="datetime-local" class="form-control" name="dropOffDateTime" id="dropOffDateTime">
						</div>
					</div>
					<div class="form-group mt-4 text-center">
						<button class="button" type="submit">
							Search <i class="fa fa-check-circle ms-1"></i>
						</button>
					</div>
				</form>
				<!-- End of Search Form -->
			</div>
		</div>
	</div>
</div>



<section class="mt-5">
	<div class="container-xl">
		<div class="row trip_1 text-center mb-4">
			<div class="col-md-12">
				<h1 class="mb-0" style="text-align: left;">Why us?</h1>
			</div>
		</div>
		<div class="row trip_2">
			<div class="col-md-3">
				<div class="trip_2i text-center" id="column1">
					<span class="d-inline-block fs-1"><a class="col_oran" href="#"><i class="fa fa-money"></i></a></span>
					<h3 class="mt-3"><a href="#">Money</a></h3>
					<p class="mb-0 mt-3">We have no set up or registration fees. You only charge when you rent a car. So get started for FREE.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="trip_2i text-center" id="column2">
					<span class="d-inline-block fs-1"><a class="col_oran" href="#"><i class="fa fa-user"></i></a></span>
					<h3 class="mt-3"><a href="#">Convenient</a></h3>
					<p class="mb-0 mt-3">We have a large selection of privately owned cars to suit your needs throughout the country</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="trip_2i text-center" id="column3">
					<span class="d-inline-block fs-1"><a class="col_oran" href="#"><i class="fas fa-gavel"></i></a></span>
					<h3 class="mt-3"><a href="#">Legal and insurance</a></h3>
					<p class="mb-0 mt-3">We fully cover all rentals and even provide roadside assistance. Our rating system and extended member profile checks provide safety</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="trip_2i text-center" id="column4">
					<span class="d-inline-block fs-1"><a class="col_oran" href="#"><i class="fa fa-headphones"></i></a></span>
					<h3 class="mt-3"><a href="#">24/7 support</a></h3>
					<p class="mb-0 mt-3">Our team is ready to support you all along the way with our 24/7 hotline and services</p>
				</div>
			</div>
		</div>
	</div>

	</div>
</section>


<section id="choose" class="p_3">
	<div class="container-xl">
		<div class="col-md-12 mb-5">
			<h1 class="mb-0" style="text-align: left;">What people say?</h1>
		</div>
		<div class="row">
			<!-- Row 1 -->
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="choose_1ril">
							<span class="fs-1 d-inline-block text-center col_oran"><i class="fa fa-user"></i></span>
						</div>
					</div>
					<div class="col-md-8">
						<h4>Ms Angela</h4>
						<p class="mb-0 mt-3">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="choose_1ril">
							<span class="fs-1 d-inline-block text-center col_oran"><i class="fa fa-user"></i></span>
						</div>
					</div>
					<div class="col-md-8">
						<h4>Ms Angela</h4>
						<p class="mb-0 mt-3">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>

					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<!-- Row 1 -->
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="choose_1ril">
							<span class="fs-1 d-inline-block text-center col_oran"><i class="fa fa-user"></i></span>
						</div>
					</div>
					<div class="col-md-8">
						<h4>Ms Angela</h4>
						<p class="mb-0 mt-3">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="choose_1ril">
							<span class="fs-1 d-inline-block text-center col_oran"><i class="fa fa-user"></i></span>
						</div>
					</div>
					<div class="col-md-8">
						<h4>Ms Angela</h4>
						<p class="mb-0 mt-3">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="blog_h" class="p_3 bg_light">
	<div class="container-xl">
		<div class="row trip_1 text-center mb-4">
			<div class="col-md-12">
				<h1 style="text-align: left;">Where to find us?</h1>
			</div>
		</div>
		<div class="row blog_h_1">
			<div class="col-md-4">
				<div class="blog_h_1m position-relative clearfix">
					<div class="blog_h_1mi clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="img/11.jpg" class="w-100" alt="abc"></a>
								<div class="overlay">
									<figcaption>
										<h4>Hanoi</h4>
										<p>60+ cars</p>
									</figcaption>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="blog_h_1m position-relative clearfix">
					<div class="blog_h_1mi clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="img/11.jpg" class="w-100" alt="abc"></a>
								<div class="overlay">
									<figcaption>
										<h4>Hanoi</h4>
										<p>60+ cars</p>
									</figcaption>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="blog_h_1m position-relative clearfix">
					<div class="blog_h_1mi clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="img/11.jpg" class="w-100" alt="abc"></a>
								<div class="overlay">
									<figcaption>
										<h4>Hanoi</h4>
										<p>60+ cars</p>
									</figcaption>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row blog_h_1 mt-5">
			<div class="col-md-4">
				<div class="blog_h_1m position-relative clearfix">
					<div class="blog_h_1mi clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="img/11.jpg" class="w-100" alt="abc"></a>
								<div class="overlay">
									<figcaption>
										<h4>Hanoi</h4>
										<p>60+ cars</p>
									</figcaption>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="blog_h_1m position-relative clearfix">
					<div class="blog_h_1mi clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="img/11.jpg" class="w-100" alt="abc"></a>
								<div class="overlay">
									<figcaption>
										<h4>Hanoi</h4>
										<p>60+ cars</p>
									</figcaption>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="blog_h_1m position-relative clearfix">
					<div class="blog_h_1mi clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="/img/1.jpg" class="w-100" alt="abc"></a>
								<div class="overlay">
									<figcaption>
										<h4>Hanoi</h4>
										<p>60+ cars</p>
									</figcaption>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
