﻿@model CarRental.MVC.Areas.Customer.Models.BookingViewModel
@using CarRental.Core.Common;
@using Microsoft.AspNetCore.Identity
@Html.ValidationSummary()

<link href="~/css/rent-car.css" rel="stylesheet" />
<div class="container-fluid bg-dark">
    <div class="container bg-dark bg-custom">
        <div class="row choose_1">
            <div class="col-md-7">
                <div class="choose_1l">
                    <h2 class="text-white">Booking details</h2>
                    <p class="mt-3">
                        <ul>
                            <li class="pt-3">
                                <h5 class="text-white">Pick up location: @ViewBag.FullText</h5>
                            </li>
                            <li class="pt-3">
                                <h5 class="text-white">Pick up date and time: @ViewBag.PickUpDate</h5>
                            </li>
                            <li class="pt-3">
                                <h5 class="text-white">
                                    Return date and time: @ViewBag.DropOffDate
                                </h5>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <button class="btn btn-link text-white" style="text-decoration: none;">
                    <a href="#" class="text-white">
                        <h4>
                            <i class="fas fa-edit"></i>
                            Change details
                        </h4>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>


<section class="container">

    <div>
        <form id="signUpForm" asp-action="RentCarPost" asp-asp-controller="Cars" asp-area="Customer" class="" enctype="multipart/form-data" method="post">
            <input name="CarId" value="@ViewBag.CarID" type="hidden" />
            <input name="PickUpDate" value="@ViewBag.PickUpDate" type="hidden" />
            <input name="DropOffDate" value="@ViewBag.DropOffDate" type="hidden" />
            <input name="BookingNo" value="@ViewBag.BookingNo" type="hidden" />
            <input name="TotalDeposit" value="@ViewBag.TotalDeposit" type="hidden" />



            <!-- start step indicators -->
            <div class="form-header d-flex mb-4">
                <span class="stepIndicator">Step 1: Booking Information </span>
                <span class="stepIndicator">Step 2: Payment</span>
                <span class="stepIndicator">Step 3: Finish</span>
            </div>
            <!-- end step indicators -->
            <!-- Preview -->
            <div class="row">
                <div class="col-md-6">
                    <div class="">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                        aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="@Url.Content(ViewBag.FrontImage.Url)" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="@Url.Content(ViewBag.BackImage.Url) " class=" d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="@Url.Content(ViewBag.LeftImage.Url)" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="@Url.Content(ViewBag.RightImage.Url)" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class=" mt-2">
                        <h2>@ViewBag.Car.Name</h2>
                    </div>

                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0">
                            <div class="model_pg1i2 row">
                                <div class="col-md-4 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">Ratings (@ViewBag.RateCount):</label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-4">
                                    <div class="model_pg1i2l">
                                        @if (double.IsNaN(ViewBag.AvgRate) || ViewBag.AvgRate == 0)
                                        {
                                            <span class="font_12">
                                                0 <i style="color:yellow" class="fa fa-star"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            @ViewBag.AvgRate
                                            <span class="font_12">
                                                <i style="color:yellow" class="fa fa-star"></i>
                                            </span>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="model_m clearfix border-top-0">
                            <div class="model_pg1i2 row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">No.of rides:</label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <div class="model_pg1i2l">
                                        <span>@ViewBag.BookingCount</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="model_m clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">Price:</label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <div class="model_pg1i2l">
                                        <span>@FormatHelper.FormatCurrency(ViewBag.Car.BasePrice)/day</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="model_m clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">Locations:</label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <div class="model_pg1i2l">
                                        <span>
                                            @(
                                                ViewBag.Car.Address.City + ", " +
                                                ViewBag.Car.Address.District + ", " +
                                                ViewBag.Car.Address.Ward + ", " +
                                                ViewBag.Car.DetailAddress
                                                )
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="model_m clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">Status:</label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <div class="model_pg1i2l">
                                        <span class="text-success fw-bold">
                                            Available
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="mt-3">Booking summary</h4>
                    <p class="text-end">
                        <h5 class="text-end">Number of days: @ViewBag.TotalDays</h5>
                        <h5 class="text-end">Price per day: @FormatHelper.FormatCurrency(ViewBag.BasePrice)</h5>
                        <hr>
                        <h5 class="text-end">Total: @FormatHelper.FormatCurrency(ViewBag.TotalPrice)</h5>
                        <h5 class="text-end">Deposit: @FormatHelper.FormatCurrency(ViewBag.TotalDeposit)</h5>
                    </p>
                </div>
            </div>

            <!-- step one -->
            <div class="step">
                <p class="text-danger mb-4 mt-5">
                    Note: Please check your information carefully, you'll not be able to
                    change the basic details of your car, which is based on the registration
                </p>
                <div class="row mt-5">
                    <h3 class="mb-3">Renter's information</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="fullname" class="form-label">Full Name</label>
                                <input required type="text" value="@ViewBag.Name"  name="Name" id="fullname" class="form-control" placeholder="Full name" aria-describedby="helpId">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="DateOfBirth" class="form-label">Date of birth</label>
                                <input required value="@ViewBag.DOB.ToString("yyyy-MM-dd")"  type="date" name="DateOfBirth" id="dob" class="form-control" placeholder="Date of birth" aria-describedby="helpId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="PhoneNo" class="form-label">Phone number</label>
                                <input required value="@ViewBag.PhoneNo"  type="tel" name="PhoneNo" id="phone" class="form-control" placeholder="Phone number" aria-describedby="phoneHelp" pattern="^(?:\+\d{1,3}[-\s]?)?(?:\(\d{1,4}\)[-.\s]?)?\d{1,10}[-.\s]?\d{1,10}[-.\s]?\d{1,10}$">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" name="Email" id="email" class="form-control" placeholder="Email address"
                                       aria-describedby="helpId" value="@ViewBag.Email" >

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="National Id No" class="form-label">National Id No: </label>
                                <input required type="text" name="NationalIDNo" id class="form-control"
                                       placeholder="National Id No" aria-describedby="helpId" value="@ViewBag.NationalID" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="DrivingLicenseImage" class="form-label">Driving license</label>
                                <div class="uploader">
                                    <label for="file-upload-2" id="file-drag-2">
                                        <img id="file-image-2" src="@Url.Content(ViewBag.User.DrivingLicense)" alt="...." >
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="CityCode" class="form-label">City</label>
                            <select name="CityCode" id="city" class="form-control mb-3" >
                                <option value="@ViewBag.User.Address.CityCode">@ViewBag.User.Address.City</option>
                                @foreach (var item in ViewBag.City)
                                {
                                    <option value="" hidden>Select City</option>
                                    <option value="@item.CityCode">@item.City</option>
                                }
                            </select>
                            <label for="District" class="form-label">District</label>
                            <select name="District" id="district" class="form-control mb-3" >
                                <option value="@ViewBag.User.Address.District" hidden>@ViewBag.User.Address.District</option>
                                <option value="" hidden>Select District</option>
                            </select>
                            <label for="Ward" class="form-label">Ward</label>
                            <select name="Ward" id="ward" class="form-control mb-3" >
                                <option value="@ViewBag.User.Address.Ward" hidden>@ViewBag.User.Address.Ward</option>
                                <option value="" hidden>Select Ward</option>
                            </select>
                            <input type="text" name="DetailAddress" id="" class="form-control mb-3" 
                                   placeholder="Home number, Street" aria-describedby="helpId" value="@ViewBag.User.DetailAddress">
                        </div>
                    </div>

                    <div>
                        <h3 class="mt-5 mb-3">Driver's information</h3>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="checkbox" name="diff" id="different" onclick="toggleDriverInfo()" /> Different than Rental's
                                information
                            </div>
                        </div>
                        <div id="driverInfo" style="display:none">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="DriverName" class="form-label">Full Name</label>
                                        <input type="text" name="DriverName" class="form-control"
                                               placeholder="Full name" aria-describedby="helpId">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="DriverDateOfBirth" class="form-label">Date of birth</label>
                                        <input type="date" name="DriverDateOfBirth" class="form-control"
                                               placeholder="Date of birth" aria-describedby="helpId">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="DriverPhoneNo" class="form-label">Phone number</label>
                                        <input type="DriverPhoneNo" name="DriverPhoneNo" id class="form-control"
                                               placeholder="Phone number" aria-describedby="helpId">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="DriverEmail" class="form-label">Email address</label>
                                        <input type="email" name="DriverEmail" id class="form-control"
                                               placeholder="Email address" aria-describedby="helpId">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="DriverNationalIDNo" class="form-label">National Id No: </label>
                                        <input type="text" name="DriverNationalIDNo" id class="form-control"
                                               placeholder="National Id No" aria-describedby="helpId">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="DriverDrivingLicenseImage" class="form-label">Driving license</label>
                                        <div class="uploader">
                                            <input id="file-upload-1" type="file" asp-for="DriverDrivingLicenseImage" accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                            <span asp-validation-for="DriverDrivingLicenseImage" class="text-danger"></span>
                                            <label for="file-upload-1" id="file-drag-1">
                                                <img id="file-image-1" src="#" alt="Preview" class="hidden">
                                                <div id="start-1">
                                                    <i class="fa fa-download" aria-hidden="true"></i>
                                                    <div>Select a file or drag here</div>
                                                    <div id="notimage-1" class="hidden">Please select an image</div>
                                                    <span id="file-upload-btn-3" class="btn btn-primary">
                                                        Select a
                                                        file
                                                    </span>
                                                </div>
                                                <div id="response-1" class="hidden">
                                                    <div id="messages-1"></div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <label for="DriverCityCode" class="form-label">City</label>
                                    <select name="DriverCityCode" id="cityDriver" class="form-control mb-3">
                                        @foreach (var item in ViewBag.City)
                                        {
                                            <option value="" hidden>Select City</option>
                                            <option value="@item.CityCode">@item.City</option>
                                        }
                                    </select>
                                    <label for="DriverDistrict" class="form-label">District</label>
                                    <select name="DriverDistrict" id="districtDriver" class="form-control mb-3">
                                        <option value="" hidden>Select District</option>
                                    </select>
                                    <label for="DriverWard" class="form-label">Ward</label>
                                    <select name="DriverWard" id="wardDriver" class="form-control mb-3">
                                        <option value="" hidden>Select Ward</option>
                                    </select>
                                    <input type="text" name="DriverDetailAddress" id class="form-control mb-3"
                                           placeholder="Home number, Street" aria-describedby="helpId">
                                </div>
                            </div>
                        </div>

                        <div class="row text-end mb-5">
                            <div class="text-end">
                                <button type="reset" class="btn btn-outline-info rounded-1">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- step two -->
            <div class="step">
                <!-- Step two -->
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h4>Please choose your selected method</h4>
                        <div class="choose mt-3">
                            <div class="option mt-3">
                                <input type="radio" checked name="PaymentMethod" id="" value="wallet"> My wallet<br>
                                @if (ViewBag.Wallet > ViewBag.TotalDeposit)
                                {
                                    <div class="mt-3">
                                        <span>Current balance:</span>
                                        <strong class="text-success">@FormatHelper.FormatCurrency(ViewBag.Wallet)</strong>
                                    </div>
                                }
                                else
                                {
                                    <div class="mt-3">
                                        <span>Current balance:</span>
                                        <strong class="text-danger">@FormatHelper.FormatCurrency(ViewBag.Wallet) (inefficient)</strong>
                                        @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>

            <!-- step three -->
            <div class="step">
                <div class="row">
                    <div class="mt-5">
                        @if (ViewBag.Wallet > ViewBag.TotalDeposit)
                        {
                            <h4 class="mt-5">You've successfully booked @ViewBag.Car.Name @ViewBag.PickUpDate to @ViewBag.DropOffDate </h4>
                            <h4 class="mt-5">Your booking number is: @ViewBag.BookingNo </h4>
                            <h4 class="mt-5">Our operator will contact you with further guidance about pickup</h4>
                        }
                        else
                        {
                            <h4 class="mt-5">
                                <a href="/Customer/Wallets/Index">
                                    You dont have enough money to pay deposit! Please click to top up!
                                </a>
                            </h4>
                        }
                    </div>
                </div>
            </div>


            <!-- start previous / next buttons -->
            <div class="form-footer d-flex">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
            <!-- end previous / next buttons -->
        </form>
    </div>
</section>

<script src="~/js/rent-car.js"></script>
@section Scripts {
    <script>
        // JavaScript function to load districts based on the selected city
        function loadDistricts(cityCode, targetDropdownId) {
            $.ajax({
                url: '/Customer/Cars/GetDistricts?cityCode=' + cityCode,
                type: 'GET',
                success: function (data) {
                    const districtSelect = $("#" + targetDropdownId);
                    districtSelect.empty();
                    $.each(data.districts, function (key, value) {
                        districtSelect.append($('<option>').text(value).val(value));
                    });
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred while fetching districts:', error);
                    alert('An error occurred while fetching districts. Please try again later.');
                }
            });
        }

        // JavaScript function to load wards based on the selected city and district
        function loadWards(cityCode, district, targetDropdownId) {
            $.ajax({
                url: '/Customer/Cars/GetWards?cityCode=' + cityCode + '&district=' + district,
                type: 'GET',
                success: function (data) {
                    const wardSelect = $("#" + targetDropdownId);
                    wardSelect.empty();
                    $.each(data.wards, function (key, value) {
                        wardSelect.append($('<option>').text(value).val(value));
                    });
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred while fetching wards:', error);
                    alert('An error occurred while fetching wards. Please try again later.');
                }
            });
        }

        // Event handler for when the city selection changes
        $("#city").change(function () {
            var selectedCityCode = $(this).val();
            loadDistricts(selectedCityCode, "district");
        });

        $("#cityDriver").change(function () {
            var selectedCityCode = $(this).val();
            loadDistricts(selectedCityCode, "districtDriver");
        });

        // Event handler for when the district selection changes
        $("#district").change(function () {
            var selectedCityCode = $("#city").val();
            var selectedDistrict = $(this).val();
            loadWards(selectedCityCode, selectedDistrict, "ward");
        });

        $("#districtDriver").change(function () {
            var selectedCityCode = $("#cityDriver").val();
            var selectedDistrict = $(this).val();
            loadWards(selectedCityCode, selectedDistrict, "wardDriver");
        });

        // JavaScript function to toggle driver info section
        function toggleDriverInfo() {
            var checkbox = document.getElementById('different');
            var driverInfo = document.getElementById('driverInfo');

            if (checkbox.checked) {
                driverInfo.style.display = 'block'; // Show the driverInfo div
            } else {
                driverInfo.style.display = 'none'; // Hide the driverInfo div
            }
        }

        // Call toggleDriverInfo() on document ready
        $(document).ready(function () {
            toggleDriverInfo();
        });
    </script>
}