﻿@model IEnumerable<CarRental.Core.Models.Car>

@{
    ViewData["Title"] = "SearchCar";
}

<div class="container" style=" margin-top: 100px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-area="Customer" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search Results</li>
        </ol>
    </nav>
</div>
<div class="container-fluid bg-dark">
    <div class="container bg-dark bg-custom">
        <form asp-action="SearchCar" method="get">
            <div class="row choose_1">
                <div class="col-md-6">
                    <div class="choose_1l mt-3">
                        <h5 class="text-white">PICK-UP LOCATION</h5>
                        <input name="location" type="text" class="form-control" placeholder="Enter your location" value="@ViewBag.Location" required>
                    </div>
                </div>
                <div class="row mt-5 mb-4">
                    <div class="col-sm-6">
                        <h5 class="text-white">PICK-UP DATE AND TIME</h5>
                        <input type="datetime-local" class="form-control" name="pickupDateTime" id="pickupDateTime" value="@ViewBag.PickupDate" required>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="text-white">DROP OFF DATE AND TIME</h5>
                        <input type="datetime-local" class="form-control" name="dropOffDateTime" id="dropOffDateTime" value="@ViewBag.DropOffDate" required>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="button btn btn-primary mb-3">Search</button>
            </div>

        </form>
    </div>
</div>
<section id="blog" class="p_3 mt-4">
    <div class="container-xl">
        <div class="row mb-3 border-bottom">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <h3>Search Results</h3>
                </ol>
            </nav>
            <div class="col-md-9">
                @*@foreach (var key in Model)
                {
                    DateTime now = DateTime.Now;
                    bool isAvailable = !key.Bookings.Any(x => now >= x.StartDateTime && now <= x.EndDateTime);
                    string status = isAvailable ? "Available" : null;
                    <p class="ml-5">You have @status.Count() on-going bookings</p>
                }*@
            </div>
            <div class="col-sm-3 d-flex justify-content-end">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-gird-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-gird" type="button" role="tab"
                                aria-controls="pills-gird" aria-selected="true">
                            <i class="fa fa-th-large fs-5" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="nav-item me-2" role="presentation">
                        <button class="nav-link" id="pills-list-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-list" type="button" role="tab" aria-controls="pills-list"
                                aria-selected="false">
                            <i class="fa fa-th-list fs-5" aria-hidden="true"></i>
                        </button>
                    </li>

                    <li class="nav-item align-items-center d-flex">
                        <select class="form-select" id="sort-options">
                            <option value="Newest to Oldest">Newest to Oldest</option>
                            <option value="Oldest to Newest">Oldest to Newest</option>
                        </select>
                    </li>
                </ul>
            </div>

        </div>
        <div class="tab-content" id="pills-tabContent">
            @Html.Partial("_SearchResultsPartial", Model)
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        // Xử lý sự kiện thay đổi lựa chọn sắp xếp
        $('#sort-options').on('change', function () {
            // Lấy giá trị lựa chọn
            var selectedOption = $(this).val();

            // Gửi yêu cầu AJAX đến action SortCars
            $.ajax({
                url: '@Url.Action("SortCars")',
                type: 'POST',
                data: { selectedOption: selectedOption },
                success: function (result) {
                    // Cập nhật phần tử #search-results với kết quả từ AJAX
                    $('#pills-tabContent').html(result);
                },
                error: function () {
                    console.error('Lỗi trong quá trình thực hiện yêu cầu AJAX.');
                }
            });
        });

    });

    // không cho chọn lại ngày trong quá khứ
    var now = new Date();
    var formattedNow = now.toISOString().slice(0, 16);
    document.getElementById('pickupDateTime').min = formattedNow;
    document.getElementById('dropOffDateTime').min = formattedNow;
</script>
