﻿<section id="footer" class="pt-3 pb-3">
    <div class="container-xl">
        <div class="row footer_1">
            <div class="col-md-4">
                <div class="footer_1i">
                    <h4><a href="index.html"><i class="fa fa-car col_oran "></i> Car  <span class="fw-normal"></span>Rental</a></h4>
                    <p class="mt-3">Use securing confined his shutters. Delightful as he it acceptance an solicitude discretion.</p>
                    <h6 class="mt-3 fw-normal"><i class="fa fa-map col_oran me-1"></i> Twitter Beans - FPT Software Academy</h6>
                    <h6 class="mt-3 fw-normal"><a href="#"><i class="fa fa-phone col_oran me-1"></i> (123) 456-7890</a></h6>
                    <h6 class="mt-3 mb-0 fw-normal"><a href="#"><i class="fa fa-envelope col_oran me-1"></i> info@gmail.com</a></h6>
                </div>
            </div>
            
            
        </div><hr>
        <div class="row footer_2">
            <div class="col-md-9">
                <div class="footer_2l">
                    <p class="mb-0 mt-1">© 2023 Car Rental Website. All Rights Reserved | Design by <a class="col_green" href="http://www.templateonweb.com">TemplateOnWeb</a> | Developed by HN23_FR_.NET_03</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_2r text-end">
                    <ul class="social-network social-circle mb-0">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
