﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Car Rental</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/global.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    <style>
        .bg-custom {
            background-color: #000;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .trip_2i {
            height: 388px;
        }

        .effect-jazz {
            position: relative;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            /* Màu nền mờ (rgba) */
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            /* Ban đầu ẩn lớp mờ */
            transition: opacity 0.3s ease;
            /* Hiệu ứng hiển thị mờ */
        }

        .overlay:hover {
            opacity: 1;
            /* Khi di chuột qua, hiển thị lớp mờ */
        }

        figcaption {
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="main clearfix ">
        <div class="main_1 clearfix">
            <section id="header">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="navbar_sticky">
                    <div class="container-xl">
                        @if (User.IsInRole("CarOwner"))
                        {
                            <a class="navbar-brand fs-3 p-0 fw-bold text-white" asp-area="CarOwner" asp-controller="Home"
                                asp-action="Index"><i class="fa fa-car col_oran me-1 fs-2 align-middle"></i> Rent a car
                                today!</a>
                        }
                        else if (User.IsInRole("Customer"))
                        {
                            <a class="navbar-brand fs-3 p-0 fw-bold text-white" asp-area="Customer" asp-controller="Home"
                                asp-action="Index"><i class="fa fa-car col_oran me-1 fs-2 align-middle"></i> Rent a car
                                today!</a>
                        }
                        else
                        {
                            <a class="navbar-brand fs-3 p-0 fw-bold text-white" asp-area="" asp-controller="Home"
                                asp-action="Index"><i class="fa fa-car col_oran me-1 fs-2 align-middle"></i> Rent a car
                                today!</a>
                        }
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mb-0 ms-auto">
                                <li class="nav-item pt-1">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                                </li>
                                <partial name="_LoginPartial" />
                            </ul>
                        </div>
                    </div>
                </nav>
            </section>
        </div>
        @RenderBody()
    </div>


    <partial name="_Notification" />
    <partial name="_FooterPartial" />
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)

</body>

</html>