﻿@using Microsoft.AspNetCore.Identity
@using CarRental.Core.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item ">
        <div class="dropdown">
            <button type="button" class="nav-link btn btn-link dropdown-toggle"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i> <!-- Circle background -->
                    <i style="color: orangered" class="fa fa-user fa-stack-1x fa-inverse"></i>
                    <!-- User icon -->
                </span>
                WELCOME, @user?.Name
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" asp-area="Accounts" asp-controller="Profile" asp-action="Edit">My Profile</a></li>
                @if(User.IsInRole("Customer"))
                {
                    <li>
                        <a class="dropdown-item" asp-area="Customer" asp-controller="Bookings" asp-action="Index">
                            My Booking
                        </a>
                    </li>
                }
                <li>
                    @if (User.IsInRole("CarOwner"))
                    {
                        <a class="dropdown-item" asp-area="CarOwner" asp-controller="Wallets" asp-action="Index">My Wallet</a>
                    }
                    else
                    {
                        <a class="dropdown-item" asp-area="Customer" asp-controller="Wallets" asp-action="Index">My Wallet</a>
                    }
                </li>

                @if(User.IsInRole("CarOwner"))
                {
                    <li>
                        <a class="dropdown-item" asp-area="CarOwner" asp-controller="Cars" asp-action="Report">
                            My Reports
                        </a>
                    </li>
                }

                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </li>
}
else
{
    <li class="nav-item pt-1">
        <a class="nav-link" asp-area="Accounts" asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Context.Request.Path">
            Register
        </a>
    </li>
    <li class="nav-item pt-1">
        <a class="nav-link" asp-area="Accounts" asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">
            Login
        </a>
    </li>
}


