﻿@model IEnumerable<CarRental.Core.Models.Car>

@foreach (var item in Model)
{
    <div class="row blog_1 mb-5">
        <div class="col-md-6">
            <div class="card-body">
                <div id="carouselExampleIndicators-@item.Id" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@Url.Content(item.CarImages.First(x => x.Description == "front").Url)" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="@Url.Content(item.CarImages.First(x => x.Description == "back").Url) " class=" d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="@Url.Content(item.CarImages.First(x => x.Description == "left").Url)" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="@Url.Content(item.CarImages.First(x => x.Description == "right").Url)" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleIndicators-@item.Id" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-title mt-2">
                <h2>@item.Name</h2>
            </div>

            <div class="model_pg1i clearfix">
                <div class="model_m pt-3 clearfix border-top-0">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-8">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Ratings (@item.Bookings.Count(b => b.Feedback != null && b.Feedback.Ratings > 0)): </label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-4">
                            <div class="model_pg1i2l">
                                @{
                                    var avgRate = 0.0;
                                    var totalRatings = 0;
                                    var rateCount = 0;
                                    if (item.Bookings.Any(b => b.Feedback != null))
                                    {
                                        totalRatings = item.Bookings.Where(b => b.Feedback != null).Sum(b => b.Feedback.Ratings);
                                        rateCount = item.Bookings.Count(b => b.Feedback != null && b.Feedback.Ratings > 0);
                                        avgRate = (double)totalRatings / rateCount;
                                    }
                                }
                                @if (avgRate == 0)
                                {
                                    <span class="font_12">0 <i style="color: yellow" class="fa fa-star"></i></span>
                                }
                                else
                                {
                                    @avgRate
                                    <span class="font_12"><i style="color: yellow" class="fa fa-star"></i></span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="model_m clearfix border-top-0">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">No.of rides:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                <span>@item.Bookings.Count</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Price:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                <span class="SpanBasePrice">@item.BasePrice</span><span> VND/day</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Locations:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                <span>@item.Address?.City, @item.Address?.District, @item.Address?.Ward, @item.DetailAddress</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Status:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                @if (item.IsStopRent == true)
                                {
                                    <span class="text-danger fw-bold">Stopped</span>
                                }
                                else
                                {
                                    <span class="text-success fw-bold">Available</span>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-3">
            <div class="d-grid gap-2">
                <a class="btn btn-primary rounded-1" asp-action="Edit" asp-route-id="@item.Id">View details</a>
            </div>
        </div>
    </div>

}


