@model CarRental.Core.ViewModels.CarViewModel;
@using CarRental.Core.Enums

@{
    ViewBag.Title = "Add a car";
}

<link href="~/css/add-a-car.css" rel="stylesheet">


<div class="container" style=" margin-top: 100px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="CarOwner" asp-controller="Cars" asp-action="Index">Car Owner</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </nav>
</div>

<main>
    <section class="container">
        <h1 class="mb-3">Add a car</h1>
        <div>
            <form id="signUpForm" class="" asp-area="CarOwner" asp-controller="Cars" asp-action="Create" method="post" enctype="multipart/form-data">
                <!-- start step indicators -->
                <div class="form-header d-flex mb-4">
                    <span class="stepIndicator">Step 1: Basic</span>
                    <span class="stepIndicator">Step 2: Details</span>
                    <span class="stepIndicator">Step 3: Pricing</span>
                    <span class="stepIndicator">Step 4: Finish</span>
                </div>
                <!-- end step indicators -->
                <!-- step one -->
                <div class="step">
                    <p class="text-danger mb-4">
                        Note: Please check your information carefully, you'll not be able to
                        change the basic details of your car, which is based on the registration
                    </p>
                    <div class="row">
                        <div class="col-5">
                            <div class="mb-3">
                                <label for="LicensePlate" class="form-label">License plate</label>
                                <input type="text" class="form-control w-75" name="LicensePlate" id="LicensePlate"
                                       placeholder="License plate">
                            </div>
                            <div class="mb-3">
                                <label for="BrandName" class="form-label">Brand name</label>
                                <select type="text" class="form-control w-75" name="BrandModel.Brand" id="Brand"
                                        onchange="loadModels()" placeholder="License plate">
                                    @* <option>Audi</option>
                                    <option>Toyota</option> *@
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="ProductionYear" class="form-label">Production year</label>
                                <select type="text" class="form-control w-75" name="ProductionYear" id="ProductionYear"
                                        placeholder="License plate">
                                    @for (int i = 2023; i >= 2010; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <p class="mb-3"><strong>Transmission</strong></p>

                                <!-- Radio Buttons -->
                                <div class="btn-group" role="group" aria-label="Transmission">
                                    <input type="radio" class="btn-check" asp-for="TransmissionType" id="automaticRadio"
                                           autocomplete="off" value="Automatic" checked>
                                    <label class="btn btn-outline-primary" for="automaticRadio">Automatic</label>

                                    <input type="radio" class="btn-check" asp-for="TransmissionType" id="manualRadio"
                                           autocomplete="off" value="Manual">
                                    <label class="btn btn-outline-primary" for="manualRadio">Manual</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="mb-3">
                                <label for="Color" class="form-label">Color</label>
                                <select type="text" class="form-control w-75" name="Color" id="Color"
                                        asp-items="Html.GetEnumSelectList<Color>()">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="Model" class="form-label">Model</label>
                                <select type="text" class="form-control w-75" name="BrandModel.Model" id="Model">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="NumberOfSeats" class="form-label">Number Of Seats</label>
                                <select type="text" class="form-control w-75" name="NumberOfSeat" id="NumberOfSeat">
                                    <option>4</option>
                                    <option>7</option>
                                    <option>16</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <p class="mb-3"><strong>Fuel type</strong></p>
                                <div class="btn-group" role="group" aria-label="Fuel Type">
                                    <input type="radio" class="btn-check" name="FuelType" id="gasolineRadio"
                                           autocomplete="off" value="Gasoline" checked>
                                    <label class="btn btn-outline-primary" for="gasolineRadio">Gasoline</label>

                                    <input type="radio" class="btn-check" name="FuelType" id="dieselRadio"
                                           autocomplete="off" value="Diesel">
                                    <label class="btn btn-outline-primary" for="dieselRadio">Diesel</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h2>Document</h2>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p><strong>Registration paper: </strong></p>
                                <div class="uploader">
                                    <input id="file-upload-1" type="file" name="ImageFileUploadRegistration" accept="image/*" />

                                    <label for="file-upload-1" id="file-drag-1">
                                        <img id="file-image-1" src="#" alt="Preview" class="hidden">
                                        <div id="start-1">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            <div>Select a file or drag here</div>
                                            <div id="notimage-1" class="hidden">Please select an image</div>
                                            <span id="file-upload-btn-1" class="btn btn-primary">
                                                Select a
                                                file
                                            </span>
                                        </div>
                                        <div id="response-1" class="hidden">
                                            <div id="messages-1"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <p><strong>Certificate of inspection: </strong></p>
                                <div class="uploader">
                                    <input id="file-upload-2" type="file" name="ImageFileUploadCertificate" accept="image/*" />

                                    <label for="file-upload-2" id="file-drag-2">
                                        <img id="file-image-2" src="#" alt="Preview" class="hidden">
                                        <div id="start-2">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            <div>Select a file or drag here</div>
                                            <div id="notimage-2" class="hidden">Please select an image</div>
                                            <span id="file-upload-btn-2" class="btn btn-primary">
                                                Select a
                                                file
                                            </span>
                                        </div>
                                        <div id="response-2" class="hidden">
                                            <div id="messages-2"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <p><strong>Insurance: </strong></p>
                                <div class="uploader">
                                    <input id="file-upload-3" type="file" name="ImageFileUploadInsurance" accept="image/*" />

                                    <label for="file-upload-3" id="file-drag-3">
                                        <img id="file-image-3" src="#" alt="Preview" class="hidden">
                                        <div id="start-3">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            <div>Select a file or drag here</div>
                                            <div id="notimage-3" class="hidden">Please select an image</div>
                                            <span id="file-upload-btn-3" class="btn btn-primary">
                                                Select a
                                                file
                                            </span>
                                        </div>
                                        <div id="response-3" class="hidden">
                                            <div id="messages-3"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <p>File type: jpg, jpeg, png</p>
                            </div>
                        </div>
                    </div>




                </div>

                <!-- step two -->
                <div class="step">
                    <!-- Step two -->
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 ">
                                <label for="Mileage" class="form-label">Mileage: <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="Mileage" id="Mileage"
                                       placeholder="Enter mileage">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label for="FuelConsumption" class="form-label">
                                    Fuel Consumption: <span class="text-danger">*</span>
                                </label>
                                <div class="mb-3 row">
                                    <div class="col-6">
                                        <input type="number" class="form-control col-6" name="FuelConsumption"
                                               id="FuelConsumption" placeholder="Enter Fuel Consumption">
                                    </div>
                                    <div class="col-6">
                                        <p class="pt-3">litter/100km</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">

                            <div class="mb-3">
                                <label for="City" class="form-label">City/Province</label>
                                <select class="form-select form-select-sm" name="Address.City" id="City"
                                        onchange="loadDistricts()">
                                    <option selected>Ha noi</option>
                                    <option value="">Hai Phong</option>
                                    <option value="">Istanbul</option>
                                    <option value="">Jakarta</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="District" class="form-label">District</label>
                                <select class="form-select form-select-sm" name="Address.District" id="District"
                                        onchange="loadWards()">
                                    <option selected>District</option>
                                    <option value="">New Delhi</option>
                                    <option value="">Istanbul</option>
                                    <option value="">Jakarta</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="Ward" class="form-label">Ward</label>
                                <select class="form-select form-select-sm" name="Address.Ward" id="Ward">
                                    <option selected>Ward</option>
                                    <option value="">New Delhi</option>
                                    <option value="">Istanbul</option>
                                    <option value="">Jakarta</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="DetailAddress" class="form-label">Detail Address</label>
                                <input type="text" class="form-control" name="DetailAddress" id="DetailAddress"
                                       placeholder="Search for an address">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description</label>
                                <textarea class="form-control" name="Description" id="Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="fw-bold my-3">Additional function</div>
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input" name="AdditionalFunctions" type="checkbox" value="Bluetooth"
                                       id="Bluetooth">
                                <label class="form-check-label" for="Bluetooth">
                                    Bluetooth
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="AdditionalFunctions" type="checkbox" value="GPS"
                                       id="GPS">
                                <label class="form-check-label" for="GPS">
                                    GPS
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="AdditionalFunctions" type="checkbox" value="Camera"
                                       id="Camera">
                                <label class="form-check-label" for="Camera">
                                    Camera
                                </label>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input" name="AdditionalFunctions" type="checkbox" value="SunRoof"
                                       id="SunRoof">
                                <label class="form-check-label" for="SunRoof">
                                    Sun roof
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="AdditionalFunctions" type="checkbox" value="ChildLock"
                                       id="ChildLock">
                                <label class="form-check-label" for="ChildLock">
                                    Child Lock
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="AdditionalFunctions" type="checkbox" value="ChildSeat"
                                       id="ChildSeat">
                                <label class="form-check-label" for="ChildSeat">
                                    Child Seat
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input" name="AdditionalFunctions" type="checkbox" value="DVD"
                                       id="DVD">
                                <label class="form-check-label" for="DVD">
                                    DVD
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="AdditionalFunctions" type="checkbox" value="USB"
                                       id="USB">
                                <label class="form-check-label" for="USB">
                                    USB
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- image of front, back, left, right -->
                    <div class="row">
                        <div class="col-6">
                            <p><strong>Front </strong></p>
                            <div class="uploader">
                                <input id="file-upload-4" type="file" name="ImageFileUploadFront" accept="image/*" />

                                <label for="file-upload-4" id="file-drag-4">
                                    <img id="file-image-4" src="#" alt="Preview" class="hidden">
                                    <div id="start-4">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <div>Select a file or drag here</div>
                                        <div id="notimage-4" class="hidden">Please select an image</div>
                                        <span id="file-upload-btn-4" class="btn btn-primary">
                                            Select a
                                            file
                                        </span>
                                    </div>
                                    <div id="response-4" class="hidden">
                                        <div id="messages-4"></div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <p><strong>Back </strong></p>
                            <div class="uploader">
                                <input id="file-upload-5" type="file" name="ImageFileUploadBack" accept="image/*" />

                                <label for="file-upload-5" id="file-drag-5">
                                    <img id="file-image-5" src="#" alt="Preview" class="hidden">
                                    <div id="start-5">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <div>Select a file or drag here</div>
                                        <div id="notimage-5" class="hidden">Please select an image</div>
                                        <span id="file-upload-btn-5" class="btn btn-primary">
                                            Select a
                                            file
                                        </span>
                                    </div>
                                    <div id="response-5" class="hidden">
                                        <div id="messages-5"></div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <p><strong>Left </strong></p>
                            <div class="uploader">
                                <input id="file-upload-6" type="file" name="ImageFileUploadLeft" accept="image/*" />

                                <label for="file-upload-6" id="file-drag-6">
                                    <img id="file-image-6" src="#" alt="Preview" class="hidden">
                                    <div id="start-6">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <div>Select a file or drag here</div>
                                        <div id="notimage-6" class="hidden">Please select an image</div>
                                        <span id="file-upload-btn-6" class="btn btn-primary">
                                            Select a
                                            file
                                        </span>
                                    </div>
                                    <div id="response-6" class="hidden">
                                        <div id="messages-6"></div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <p><strong>Right </strong></p>
                            <div class="uploader">
                                <input id="file-upload-7" type="file" name="ImageFileUploadRight" accept="image/*" />

                                <label for="file-upload-7" id="file-drag-7">
                                    <img id="file-image-7" src="#" alt="Preview" class="hidden">
                                    <div id="start-7">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <div>Select a file or drag here</div>
                                        <div id="notimage-7" class="hidden">Please select an image</div>
                                        <span id="file-upload-btn-7" class="btn btn-primary">
                                            Select a
                                            file
                                        </span>
                                    </div>
                                    <div id="response-7" class="hidden">
                                        <div id="messages-7"></div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <p>File type: jpg, jpeg, png</p>
                        </div>
                    </div>
                </div>

                <!-- step three -->
                <div class="step">
                    <div class="mb-3">
                        <input type="hidden" placeholder="Full name" value="hidden" oninput="this.className = ''"
                               name="fullname">
                    </div>
                    <div class="mb-3">
                        <input type="hidden" placeholder="Mobile" value="hidden" oninput="this.className = ''"
                               name="mobile">
                    </div>
                    <div class="mb-3">
                        <input type="hidden" placeholder="Address" value="hidden" oninput="this.className = ''"
                               name="address">
                    </div>
                    <!-- Step three -->
                    <div class="row">
                        <div class="col-3 my-auto">
                            <label for="Price" class="form-label">
                                <strong>
                                    Set base price for your car:
                                </strong>
                            </label>
                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="BasePrice" id="Price"
                                       aria-describedby="helpId" placeholder="Price per day">
                            </div>
                        </div>
                        <div class="col-6 m-auto">
                            <p><strong>VND/Day</strong></p>
                        </div>

                        <div class="col-3 my-auto">
                            <label for="Deposit" class="form-label"><strong>Required deposit: </strong></label>
                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="Deposit" id="Deposit"
                                       aria-describedby="helpId" placeholder="Required deposit">
                            </div>
                        </div>
                        <div class="col-6 m-auto">
                            <p><strong>VND</strong></p>
                        </div>

                        <div class="col-12">
                            <strong>Terms of use</strong>
                        </div>
                        <div class="col-2">
                            <div class="form-check mb-3">
                                <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoSmoking"
                                       id="NoSmoking">
                                <label class="form-check-label" for="NoSmoking">
                                    No Smoking
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoPet" id="NoPet">
                                <label class="form-check-label" for="NoPet">
                                    No Pet
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check mb-3">
                                <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoFood"
                                       id="NoFood">
                                <label class="form-check-label" for="NoFood">
                                    No Food
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" asp-for="Other" type="checkbox" value="true" id="Other">
                                <label class="form-check-label" for="Other">
                                    Other
                                </label>
                            </div>
                            <div class="">
                                <div class="mb-3">
                                    <label for="OtherSpecify" class="form-label">Please specify</label>
                                    <textarea class="form-control" asp-for="OtherSpecify" id="OtherSpecify"
                                              rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- step four -->
                <div class="step">
                    <div class="mb-3">
                        <input type="hidden" placeholder="Full name" value="hidden" oninput="this.className = ''"
                               name="fullname">
                    </div>
                    <div class="mb-3">
                        <input type="hidden" placeholder="Mobile" value="hidden" oninput="this.className = ''"
                               name="mobile">
                    </div>
                    <div class="mb-3">
                        <input type="hidden" placeholder="Address" value="hidden" oninput="this.className = ''"
                               name="address">
                    </div>
                    <div class="row blog_1">
                        <div class="col-md-6">
                            <div class="card-body">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="0" class="active" aria-current="true"
                                                aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="3" aria-label="Slide 4"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img id="carousel-image-4" src="./img/1.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img id="carousel-image-5" src="./img/1.jpg " class=" d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img id="carousel-image-6" src="./img/1.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img id="carousel-image-7" src="./img/1.jpg" class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-title mt-2">
                                <h2 id="BrandModelPreview">Nisan Navara EL 2017</h2>
                            </div>

                            <div class="model_pg1i clearfix">
                                <div class="model_m pt-3 clearfix border-top-0">
                                    <div class="model_pg1i2 row">
                                        <div class="col-md-4 col-sm-8">
                                            <div class="model_pg1i2r">
                                                <label class="mb-0 fw-bolder">Ratings:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-4">
                                            <div class="model_pg1i2l">
                                                <span class="font_12">
                                                    <i class="fa fa-star-o fa-2x"></i>
                                                    <i class="fa fa-star-o fa-2x"></i>
                                                    <i class="fa fa-star-o fa-2x"></i>
                                                    <i class="fa fa-star-o fa-2x"></i>
                                                    <i class="fa fa-star-o fa-2x"></i>
                                                </span>
                                                <p class="mt-1">(Not rating yet)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="model_m clearfix border-top-0">
                                    <div class="model_pg1i2 row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="model_pg1i2r">
                                                <label class="mb-0 fw-bolder">No.of rides:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-6">
                                            <div class="model_pg1i2l">
                                                <span>0</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="model_m clearfix border-top-0 mt-3">
                                    <div class="model_pg1i2 row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="model_pg1i2r">
                                                <label class="mb-0 fw-bolder">Price:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-6">
                                            <div class="model_pg1i2l">
                                                <span id="PricePreview">900k/day</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="model_m clearfix border-top-0 mt-3">
                                    <div class="model_pg1i2 row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="model_pg1i2r">
                                                <label class="mb-0 fw-bolder">Locations:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-6">
                                            <div class="model_pg1i2l">
                                                <span id="LocationPreview">Cau Giay, Ha Noi</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="CarOwnerUsername" value="@User.Identity?.Name">
                </div>

                <!-- start previous / next buttons -->
                <div class="form-footer d-flex">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
                <!-- end previous / next buttons -->
            </form>
        </div>
    </section>
</main>

<script src="~/js/add-a-car.js"></script>

<script>
    function loadBrands() {
        $.get('/Common/GetBrands', function (data) {
            var brandSelect = $('#Brand');
            brandSelect.empty();
            brandSelect.append($('<option>').text('Select Brand').attr('value', ''));
            $.each(data, function (i, item) {
                brandSelect.append($('<option>').text(item).attr('value', item));
            });
        });
    }

    function loadModels() {
        var selectedBrand = $('#Brand').val();
        var modelSelect = $('#Model');
        modelSelect.empty();
        modelSelect.append($('<option>').text('Select Model').attr('value', ''));
        if (selectedBrand) {
            $.get('/Common/GetModels?brand=' + selectedBrand, function (data) {
                $.each(data, function (i, item) {
                    modelSelect.append($('<option>').text(item).attr('value', item));
                });
            });
        }
    }

    function loadCities() {
        $.get('/Common/GetCities', function (data) {
            var citySelect = $('#City');
            citySelect.empty();
            citySelect.append($('<option>').text('Select City').attr('value', ''));
            $.each(data, function (i, item) {
                citySelect.append($('<option>').text(item).attr('value', item));
            });
        });
    }

    function loadDistricts() {
        var selectedCity = $('#City').val();
        var districtSelect = $('#District');
        districtSelect.empty();
        districtSelect.append($('<option>').text('Select District').attr('value', ''));
        if (selectedCity) {
            $.get('/Common/GetDistricts?city=' + selectedCity, function (data) {
                $.each(data, function (i, item) {
                    districtSelect.append($('<option>').text(item).attr('value', item));
                });
            });
        }
    }

    function loadWards() {
        var selectedCity = $('#City').val();
        var selectedDistrict = $('#District').val();
        var wardSelect = $('#Ward');
        wardSelect.empty();
        wardSelect.append($('<option>').text('Select Ward').attr('value', ''));
        if (selectedCity && selectedDistrict) {
            $.get('/Common/GetWards?city=' + selectedCity + '&district=' + selectedDistrict, function (data) {
                $.each(data, function (i, item) {
                    wardSelect.append($('<option>').text(item).attr('value', item));
                });
            });
        }
    }

    // Gọi hàm loadBrands khi trang được tải
    $(document).ready(function () {
        loadBrands();
        loadCities();
    });
</script>
