﻿@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CarRental.Core.ViewModels.EditCarViewModel
@using CarRental.Core.Enums
@using CarRental.Core.Common

<link href="~/css/edit-car.css" rel="stylesheet">

<main id="blog" class="p_3 mt-5">
    <div class="container-xl">
        <div class="row center_o1">
            <div class="col-md-12 mt-4">
                <h6 class="mb-0 mt-3 ms-3 fw-normal col_oran">
                    <a class="text-black" asp-action="Index" asp-controller="Home" asp-area="CarOwner">Home</a>
                    <span class="mx-2 col_light">/</span>
                    Edit Car Detail
                </h6>
                <h2 class="text-black mt-5 ms-3">Edit Car Details</h2>
            </div>
        </div>
        <div class="row blog_1 mt-4">
            <div class="col-md-6">
                <div class="card-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <img src="@Url.Content(Model.ImageUrlFront)" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="@Url.Content(Model.ImageUrlBack)" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="@Url.Content(Model.ImageUrlLeft)" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="@Url.Content(Model.ImageUrlRight)" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex card-title mt-3">
                    <h2>@Model.Name</h2>
                </div>

                <div class="model_pg1i clearfix">
                    <div class="model_m pt-3 clearfix border-top-0">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-8">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">Ratings (@ViewBag.RateCount):</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-4">
                                <div class="model_pg1i2l">
                                    @if (double.IsNaN(ViewBag.AvgRate) || ViewBag.AvgRate == 0)
                                    {
                                        <span class="font_12">
                                            0 <i style="color: yellow" class="fa fa-star"></i>
                                        </span>
                                    }
                                    else
                                    {
                                        @ViewBag.AvgRate
                                        <span class="font_12">
                                            <i style="color: yellow" class="fa fa-star"></i>
                                        </span>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="model_m clearfix border-top-0">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">No.of rides:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                <span>@ViewBag.BookingCount</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Price:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                <span id="SpanBasePrice">@(FormatHelper.FormatCurrency(Model.BasePrice))</span><span> VND/day</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Locations:</label>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="model_pg1i2l">
                                @if (Model.Address != null)
                                {
                                    <span>
                                        @Model.Address.City, @Model.Address.District, @Model.Address.Ward,
                                        @Model.DetailAddress
                                    </span>
                                }
                            </div>
                        </div>

                    </div>
                </div>
                <div class="model_m clearfix border-top-0 mt-3">
                    <div class="model_pg1i2 row">
                        <div class="col-md-4 col-sm-6">
                            <div class="model_pg1i2r">
                                <label class="mb-0 fw-bolder">Status:</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="model_pg1i2l">
                                <div class="input-group mb-3">
                                    <select name="IsActive" class="form-select border-dark" id="inputGroupSelect04"
                                            aria-label="Example select with button addon">
                                        @if (Model.IsStopRent == true)
                                        {
                                            <option value="Available">
                                                <a asp-action="ContinueAvaible" asp-route-carId="@ViewBag.carId">Available</a>
                                            </option>
                                            <option class="text-danger" value="Stopped" selected>
                                                <a asp-action="StopRenting" asp-route-carId="@ViewBag.carId">Stopped</a>
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="Available" selected>
                                                <a asp-action="ContinueAvaible" asp-route-carId="@ViewBag.carId">Available</a>
                                            </option>
                                            <option class="text-danger" value="Stopped">
                                                <a asp-action="StopRenting" asp-route-carId="@ViewBag.carId">Stopped</a>
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm Stop Renting</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to stop renting this car?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-danger" id="confirmStopRenting">Yes, Stop Renting</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="confirmationModal-available" tabindex="-1" aria-labelledby="exampleModalLabel-available" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel-available">Confirm continue availble renting</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to continue availble renting this car?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-success" id="confirmAvailableRenting">Yes, continue availble</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-3">
            <div class="button-confirm">
            </div>
            <div class="modal fade" id="confirmDeposit" tabindex="-1" aria-labelledby="confirmDeposit"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content align-content-center justify-content-center m-auto mt-lg-5"
                         style="width: 80%;">
                        <div class="text-center mt-3">
                            <h5 class="modal-title" id="confirmDepositLabel">Confirm Deposit</h5>
                        </div>
                        <div class="modal-body text-center">
                            Please confirm that you have received the deposit this booking.
                            This will allow the customer to pick-up the car at the agree date and time
                        </div>
                        <div class="modal-footer justify-content-center">
                            <a type="button" class="btn" data-bs-dismiss="modal">No</a>
                            <a type="button" class="btn">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="ms-3">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active text-black" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">
                    Basic Information
                </button>
                <button class="nav-link text-black" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">
                    Details
                </button>
                <button class="nav-link text-black" id="nav-contact-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                        aria-selected="false">
                    Pricing
                </button>
            </div>
        </nav>
        <div class="tab-content ms-5" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="model_pg1i clearfix">
                    <div class="model_m pt-3 clearfix border-top-0 mt-3">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-8">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">
                                        License plate:
                                        <span>@Model.LicensePlate</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-4">
                                <label class="mb-0 fw-bolder">
                                    Color:
                                    <span>@((Color)int.Parse(Model.Color))</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0 mt-3">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">
                                        Brand name:
                                        <span>@Model.BrandModel?.Brand</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    <label class="mb-0 fw-bolder">
                                        Model:
                                        <span>@Model.BrandModel?.Model</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0 mt-3">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">
                                        Production year:
                                        <span>@Model.ProductionYear</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    <label class="mb-0 fw-bolder">
                                        No.of seats:
                                        <span>@Model.NumberOfSeat</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0 mt-3">
                        <div class="model_pg1i2 row">
                            <div class="col-md-4 col-sm-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">
                                        Transmission:
                                        <span>@Model.TransmissionType</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="model_pg1i2l">
                                    <label class="mb-0 fw-bolder">
                                        Fuel:
                                        <span>@Model.FuelType</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="model_m clearfix border-top-0 mt-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="model_pg1i2r">
                                    <label class="mb-0 fw-bolder">
                                        Document:
                                        <span></span>
                                    </label>
                                    <div class="table-active mt-3">
                                        <table class="table table-striped table-bordered border-secondary">
                                            <thead>
                                                <tr class="table-active">
                                                    <th>No</th>
                                                    <th>Name</th>
                                                    <th>Note</th>
                                                    <th>Link</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Registration paper</td>
                                                    <td>Verified</td>
                                                    <td>
                                                        <img class="w-100"
                                                             src="@Url.Content(Model.ImageUrlRegistration)" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Certificate of inspection</td>
                                                    <td>Verified</td>
                                                    <td>
                                                        <img class="w-100"
                                                             src="@Url.Content(Model.ImageUrlCertificate)" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Insurance</td>
                                                    <td>Verifired</td>
                                                    <td>
                                                        <img class="w-100"
                                                             src="@Url.Content(Model.ImageUrlInsurance)" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <form id="signUpForm" class="" asp-area="CarOwner" asp-controller="Cars" asp-action="EditDetail"
                      method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-6 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Mileage: <span class="text-danger">*</span>
                                        </label>
                                        <div class="row ms-3 mt-4">
                                            <div class="col-sm-6">
                                                <input asp-for="Mileage" type="text"
                                                       class="border-dark form-control rounded-1" oninput="formatNumber(this)">
                                                <span asp-validation-for="Mileage" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="mb-0 fw-bolder">
                                        Fuel consumption:
                                    </label>
                                    <div class="row ms-3 mt-4">
                                        <div class="col-sm-4">
                                            <input asp-for="FuelConsumption" type="text"
                                                   class="border-dark form-control rounded-1">

                                        </div>
                                        <div class="col-sm-8 mt-2">
                                            <span class="ms-4">litters/100 km</span>
                                        </div>
                                        <span asp-validation-for="FuelConsumption" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-6 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Adress: <span class="text-danger">*</span>
                                        </label>
                                        <div class="row ms-3 mt-4">
                                            <div class="col-sm-6">
                                                <select name="Address.City" id="City" onchange="loadDistricts()"
                                                        class="form-control mb-3">

                                                    @foreach (var item in ViewBag.Cities)
                                                    {
                                                        @if (item == Model.Address.City)
                                                        {
                                                            <option value="@item" selected>@item</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item">@item</option>
                                                        }
                                                    }
                                                </select>
                                                <select name="Address.District" id="District" onchange="loadWards()"
                                                        class="form-control mb-3">
                                                    @if (Model.Address != null)
                                                    {
                                                        <option value="@Model.Address.District">
                                                            @Model.Address.District
                                                        </option>
                                                    }
                                                </select>
                                                <select name="Address.Ward" id="Ward" class="form-control mb-3">
                                                    @if (Model.Address != null)
                                                    {
                                                        <option value="@Model.Address.Ward">@Model.Address.Ward</option>
                                                    }
                                                </select>


                                                <input type="text" asp-for="DetailAddress" class="form-control mb-3"
                                                       placeholder="Home number, Street" aria-describedby="helpId">
                                                <span asp-validation-for="DetailAddress"></span>
                                            </div>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4">
                                    <label class="mb-0 fw-bolder">Description</label>
                                    <div class="row ms-3 mt-4">
                                        <div class="col-sm-4">
                                            <textarea name="description rounded-1" cols="50"
                                                      rows="10">@Model.Description</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-10 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Additional functions:
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row ms-5 mt-4">
                                <div class="col-4">
                                    <div class="form-check">
                                        @if (Model.AdditionalFunctions.Contains("Bluetooth"))
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="Bluetooth" id="Bluetooth" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="Bluetooth" id="Bluetooth">
                                        }
                                        <label class="form-check-label" for="Bluetooth">
                                            Bluetooth <i class='fa fa-bluetooth'></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        @if (Model.AdditionalFunctions.Contains("GPS"))
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="GPS" id="GPS" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="GPS" id="GPS">
                                        }
                                        <label class="form-check-label" for="GPS">
                                            GPS <i class='fa fa-map'></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        @if (Model.AdditionalFunctions.Contains("Camera"))
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="Camera" id="Camera" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="Camera" id="Camera">
                                        }
                                        <label class="form-check-label" for="Camera">
                                            Camera <i class='fa fa-camera'></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-check">
                                        @if (Model.AdditionalFunctions.Contains("SunRoof"))
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="SunRoof" id="SunRoof" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="SunRoof" id="SunRoof">
                                        }
                                        <label class="form-check-label" for="SunRoof">
                                            Sun roof <i class='fa fa-camera'></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        @if (Model.AdditionalFunctions.Contains("ChildLock"))
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="ChildLock" id="ChildLock" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="ChildLock" id="ChildLock">
                                        }
                                        <label class="form-check-label" for="ChildLock">
                                            Child Lock <i class='fa fa-unlock-alt'></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        @if (Model.AdditionalFunctions.Contains("ChildSeat"))
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="ChildSeat" id="ChildSeat" checked>

                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="ChildSeat" id="ChildSeat">
                                        }
                                        <label class="form-check-label" for="ChildSeat">
                                            Child Seat <i class='fa fa-male'></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-check">
                                        @if (Model.AdditionalFunctions.Contains("DVD"))
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="DVD" id="DVD" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="DVD" id="DVD">
                                        }
                                        <label class="form-check-label" for="DVD">
                                            DVD <i class='fa fa-music'></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        @if (Model.AdditionalFunctions.Contains("USB"))
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="USB" id="USB" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="AdditionalFunctions" type="checkbox"
                                                   value="USB" id="USB">
                                        }
                                        <label class="form-check-label" for="USB">
                                            USB <i class='fa fa-music'></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-6">
                                    <p><strong>Front </strong></p>
                                    <div class="uploader">
                                        <input id="file-upload-4" type="file" name="ImageFileUploadFront"
                                               accept="image/*" />

                                        <label for="file-upload-4" id="file-drag-4">
                                            <img id="file-image-4" src="@Url.Content(Model.ImageUrlFront)"
                                                 alt="Preview" class="">
                                            <div id="start-4" class="hidden">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                <div>Select a file or drag here</div>
                                                <div id="notimage-4" class="hidden">Please select an image</div>
                                                <span id="file-upload-btn-4" class="btn btn-primary">
                                                    Select a
                                                    file
                                                </span>
                                            </div>
                                            <div id="response-4" class="">
                                                <div id="messages-4"></div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p><strong>Back </strong></p>
                                    <div class="uploader">
                                        <input id="file-upload-5" type="file" name="ImageFileUploadBack"
                                               accept="image/*" />

                                        <label for="file-upload-5" id="file-drag-5">
                                            <img id="file-image-5" src="@Url.Content(Model.ImageUrlBack)"
                                                 alt="Preview" class="">
                                            <div id="start-5" class="hidden">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                <div>Select a file or drag here</div>
                                                <div id="notimage-5" class="hidden">Please select an image</div>
                                                <span id="file-upload-btn-5" class="btn btn-primary">
                                                    Select a
                                                    file
                                                </span>
                                            </div>
                                            <div id="response-5" class="">
                                                <div id="messages-5"></div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p><strong>Left </strong></p>
                                    <div class="uploader">
                                        <input id="file-upload-6" type="file" name="ImageFileUploadLeft"
                                               accept="image/*" />

                                        <label for="file-upload-6" id="file-drag-6">
                                            <img id="file-image-6" src="@Url.Content(Model.ImageUrlLeft)"
                                                 alt="Preview" class="">
                                            <div id="start-6" class="hidden">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                <div>Select a file or drag here</div>
                                                <div id="notimage-6" class="hidden">Please select an image</div>
                                                <span id="file-upload-btn-6" class="btn btn-primary">
                                                    Select a
                                                    file
                                                </span>
                                            </div>
                                            <div id="response-6" class="">
                                                <div id="messages-6"></div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p><strong>Right </strong></p>
                                    <div class="uploader">
                                        <input id="file-upload-7" type="file" name="ImageFileUploadRight"
                                               accept="image/*" />

                                        <label for="file-upload-7" id="file-drag-7">
                                            <img id="file-image-7" src="@Url.Content(Model.ImageUrlRight)"
                                                 alt="Preview" class="">
                                            <div id="start-7" class="hidden">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                <div>Select a file or drag here</div>
                                                <div id="notimage-7" class="hidden">Please select an image</div>
                                                <span id="file-upload-btn-7" class="btn btn-primary">
                                                    Select a
                                                    file
                                                </span>
                                            </div>
                                            <div id="response-7" class="">
                                                <div id="messages-7"></div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <p>File type: jpg, jpeg, png</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a asp-action="Index" class="btn btn-outline-info rounded-1">Discard</a>
                        <button type="submit" class="btn btn-primary rounded-1">Save</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <form asp-area="CarOwner" asp-controller="Cars" asp-action="EditPrice">
                    <input type="hidden" asp-for="Id" />
                    <div class="model_pg1i clearfix">
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-2 col-sm-6">
                                    <div class="model_pg1i2r">
                                        <label asp-for="BasePrice" class="mb-0 fw-bolder">Base Price:</label>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-6">
                                    <div class="row">
                                        <input class="col-4" asp-for="BasePrice" oninput="formatNumber(this)" />
                                        <div class="mb-0 fw-bolder ms-3 my-auto col-4">VND/DAY</div>
                                        <span asp-validation-for="BasePrice" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-2 col-sm-6">
                                    <div class="model_pg1i2r">
                                        <label asp-for="Deposit" class="mb-0 fw-bolder">Deposit: </label>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-6">
                                    <div class="row">
                                        <input class="col-4" asp-for="Deposit" oninput="formatNumber(this)" />
                                        <div class="mb-0 fw-bolder ms-3 my-auto col-4">VND</div>
                                        <span asp-validation-for="Deposit" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="model_m pt-3 clearfix border-top-0 mt-3">
                            <div class="model_pg1i2 row">
                                <div class="col-md-10 col-sm-8">
                                    <div class="model_pg1i2r">
                                        <label class="mb-0 fw-bolder">
                                            Additional functions:
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row ms-5 mt-4">
                                <div class="col-md-3">
                                    <div class="form-check">
                                        @if (Model.TermsOfUsers.Contains("NoSmoking"))
                                        {
                                            <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoSmoking"
                                                   id="NoSmoking" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoSmoking"
                                                   id="NoSmoking">
                                        }
                                        <label class="form-check-label font_14" for="NoSmoking">
                                            No smoking
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        @if (Model.TermsOfUsers.Contains("NoPet"))
                                        {
                                            <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoPet"
                                                   id="NoPet" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoPet"
                                                   id="NoPet">
                                        }
                                        <label class="form-check-label font_14" for="NoPet">
                                            No pet
                                        </label>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        @if (Model.TermsOfUsers.Contains("NoFood"))
                                        {
                                            <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoFood"
                                                   id="NoFood" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="TermsOfUsers" type="checkbox" value="NoFood"
                                                   id="NoFood">
                                        }
                                        <label class="form-check-label font_14" for="NoFood">
                                            No food in car
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="Other"
                                               id="Other">
                                        <label class="form-check-label font_14" for="Other">
                                            Other
                                        </label>
                                    </div>
                                    <div id="textareaContainer" style="display: none;">
                                        <textarea class="form-control" rows="4" id="otherTextarea"></textarea>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <a asp-action="Index" class="btn btn-outline-info rounded-1">Discard</a>
                        <button type="submit" class="btn btn-primary rounded-1">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>
<hr />

<script src="~/js/edit-car.js"></script>

<script>
    var select = document.getElementById('inputGroupSelect04');
    select.addEventListener('change', function () {
        var selectedValue = select.value;
        if (selectedValue === 'Stopped') {
            // Hiển thị modal khi lựa chọn "Stopped"
            $('#confirmationModal').modal('show');
        }

        if (selectedValue === 'Available') {
            // Hiển thị modal khi lựa chọn "Available"
            $('#confirmationModal-available').modal('show');
        }
    });

    // Xác nhận "Stop Renting" trong modal
    document.getElementById('confirmStopRenting').addEventListener('click', function () {
        // Ẩn modal
        $('#confirmationModal').modal('hide');

        // Lấy carId từ ViewBag
        var carId = '@ViewBag.carId';

        // Gọi AJAX đến controller để cập nhật trạng thái và chuyển hướng đến Action Index
        $.ajax({
            type: 'POST',
            url: '/CarOwner/Cars/StopRenting',
            data: { carId: carId },
            success: function () {
                // Chuyển hướng đến Action Index
                window.location.href = '/CarOwner/Cars/Index';
            },
            error: function () {
                // Xử lý lỗi nếu cần
            }
        });
    });

    // Xác nhận "Stop Renting" trong modal
    document.getElementById('confirmAvailableRenting').addEventListener('click', function () {
        // Ẩn modal
        $('#confirmationModal-available').modal('hide');

        // Lấy carId từ ViewBag
        var carId = '@ViewBag.carId';

        // Gọi AJAX đến controller để cập nhật trạng thái và chuyển hướng đến Action Index
        $.ajax({
            type: 'POST',
            url: '/CarOwner/Cars/ContinueAvailable',
            data: { carId: carId },
            success: function () {
                // Chuyển hướng đến Action Index
                window.location.href = '/CarOwner/Cars/Index';
            },
            error: function () {
                // Xử lý lỗi nếu cần
            }
        });
    });

    let checkbox = document.getElementById('Other');
    let textareaContainer = document.getElementById('textareaContainer');

    window.onload = function () {
        let input = document.getElementById('BasePrice');
        let depositInput = document.getElementById(`Deposit`);
        let spanBasePrice = document.getElementById("SpanBasePrice");
        let mileage = document.getElementById("Mileage");
        formatNumber(input);
        formatNumber(depositInput);
        formatNumber(mileage);
        formatNumberInSpan(spanBasePrice);
    }

    function formatNumberInSpan(span) {
        // Lấy nội dung của span
        let value = span.textContent;

        // Xóa tất cả dấu phẩy trong giá trị của span
        let formattedValue = numberWithCommas(value);

        // Xoá phần .00 ở cuối (nếu có)
        formattedValue = formattedValue.replace(/\.00$/, '');

        // Gán giá trị đã định dạng vào span
        span.textContent = formattedValue;
    }

    function formatNumber(input) {
        // Xóa tất cả dấu phẩy trong giá trị của input
        let value = input.value.replace(/,/g, '');

        // Định dạng lại giá trị với dấu phẩy
        let formattedValue = numberWithCommas(value);

        // Xoá phần .00 ở cuối (nếu có)
        formattedValue = formattedValue.replace(/\.00$/, '');

        // Gán giá trị đã định dạng vào input
        input.value = formattedValue;
    }

    // Hàm để thêm dấu phẩy phân tách hàng nghìn
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }

    function loadBrands() {
        $.get('/Common/GetBrands', function (data) {
            var brandSelect = $('#Brand');
            brandSelect.empty();
            brandSelect.append($('<option>').text('Select Brand').attr('value', ''));
            $.each(data, function (i, item) {
                brandSelect.append($('<option>').text(item).attr('value', item));
            });
        });
    }

    function loadModels() {
        var selectedBrand = $('#Brand').val();
        var modelSelect = $('#Model');
        modelSelect.empty();
        modelSelect.append($('<option>').text('Select Model').attr('value', ''));
        if (selectedBrand) {
            $.get('/Common/GetModels?brand=' + selectedBrand, function (data) {
                $.each(data, function (i, item) {
                    modelSelect.append($('<option>').text(item).attr('value', item));
                });
            });
        }
    }

    function loadCities() {
        $.get('/Common/GetCities', function (data) {
            var citySelect = $('#City');
            citySelect.empty();
            citySelect.append($('<option>').text('Select City').attr('value', ''));
            $.each(data, function (i, item) {
                citySelect.append($('<option>').text(item).attr('value', item));
            });
        });
    }

    function loadDistricts() {
        var selectedCity = $('#City').val();
        var districtSelect = $('#District');
        districtSelect.empty();
        districtSelect.append($('<option>').text('Select District').attr('value', ''));
        if (selectedCity) {
            $.get('/Common/GetDistricts?city=' + selectedCity, function (data) {
                $.each(data, function (i, item) {
                    districtSelect.append($('<option>').text(item).attr('value', item));
                });
            });
        }
    }

    function loadWards() {
        var selectedCity = $('#City').val();
        var selectedDistrict = $('#District').val();
        var wardSelect = $('#Ward');
        wardSelect.empty();
        wardSelect.append($('<option>').text('Select Ward').attr('value', ''));
        if (selectedCity && selectedDistrict) {
            $.get('/Common/GetWards?city=' + selectedCity + '&district=' + selectedDistrict, function (data) {
                $.each(data, function (i, item) {
                    wardSelect.append($('<option>').text(item).attr('value', item));
                });
            });
        }
    }

    // Gọi hàm loadBrands khi trang được tải
    $(document).ready(function () {
        let selectedCityAlready = $('#City').val();
        let selectedBrandAlready = $('#Brand').val();
        if (!selectedCityAlready) {
            loadCities();
        }
        loadBrands();

        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                textareaContainer.style.display = 'block';
            } else {
                textareaContainer.style.display = 'none';
            }
        });
    });



</script>
