﻿@model IEnumerable<CarRental.Core.Models.Car>
@{
    ViewData["Title"] = "Index";
}

<section id="blog" class="p_3 mt-5">
    <div class="container-xl">
        <div class="col-md-12 mt-5">
            <h6 class="mb-0 mt-3 ms-3 fw-normal col_oran">
                <a class="text-black" asp-action="Index" asp-controller="Home" asp-area="CarOwner">Home</a>
                <span class="mx-2 col_light">/</span>
                My Cars
            </h6>
            <h2 class="text-black mt-5 ms-3">List of cars</h2>
        </div>
        <div class="row mb-3 mb-5">
            <div class="col-md-4 mt-3">
                <p class="ml-5 ms-3">
                    <a asp-action="Create" class="btn btn-primary">Add Car</a>
                </p>
            </div>
            <div class="col-md-2 offset-md-6">
                <select id="sorting-select" class="form-select ">
                    <option>Newest to lastest</option>
                    <option>Lastest to newest</option>
                </select>
            </div>
        </div>
        <div id="car-list">
            @Html.Partial("_CarListPartial", Model)
        </div>
        <div id="pagination-container" class="d-flex justify-content-end">
            <ul class="pagination">
                <li class="page-item" id="page-previous">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <!-- Pagznation numbers will be added here dynamically -->
                <li class="page-item" id="page-next">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            var currentPage = 1; // Initial page
            var pageSize = 3; // Number of items per page

            function loadPage(pageNumber) {
                var selectedOption = $("#sorting-select").val();

                $.ajax({
                    url: '/CarOwner/Cars/SortCars',
                    type: 'POST',
                    data: {
                        selectedOption: selectedOption,
                        page: pageNumber,
                        pageSize: pageSize
                    },
                    success: function (data) {
                        $('#car-list').html(data);
                    },
                    error: function () {
                        alert('An error occurred while sorting.');
                    }
                });
            }

            // Load the initial page
            loadPage(currentPage);

            $("#sorting-select").on("change", function () {
                currentPage = 1; // Reset to the first page when sorting changes
                loadPage(currentPage);
            });

            $("#page-previous").on("click", function () {
                if (currentPage > 1) {
                    currentPage--;
                    loadPage(currentPage);
                }
            });

            $("#page-next").on("click", function () {
                // In a real implementation, you should check if there are more pages.
                // For simplicity, this example doesn't include that check.
                currentPage++;
                loadPage(currentPage);
            });
        });

        function formatNumberInSpan(span) {
            // Lấy nội dung của span
            let value = span.textContent;

            // Xóa tất cả dấu phẩy trong giá trị của span
            let formattedValue = numberWithCommas(value);

            // Xoá phần .00 ở cuối (nếu có)
            formattedValue = formattedValue.replace(/\.00$/, '');

            // Gán giá trị đã định dạng vào span
            span.textContent = formattedValue;
        }

        function formatNumber(input) {
            // Xóa tất cả dấu phẩy trong giá trị của input
            let value = input.value.replace(/,/g, '');

            // Định dạng lại giá trị với dấu phẩy
            let formattedValue = numberWithCommas(value);

            // Xoá phần .00 ở cuối (nếu có)
            formattedValue = formattedValue.replace(/\.00$/, '');

            // Gán giá trị đã định dạng vào input
            input.value = formattedValue;
        }

        // Hàm để thêm dấu phẩy phân tách hàng nghìn
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        }

        window.onload = function () {
            var spans = document.querySelectorAll('.SpanBasePrice');
            for (var i = 0; i < spans.length; i++) {
                formatNumberInSpan(spans[i]);
            }
        }
    </script>
}