﻿@model IEnumerable<CarRental.MVC.Areas.CarOwner.Models.ReportViewModel>

@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style=" margin-top: 100px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="CarOwner" asp-controller="Cars" asp-action="Index">Car Owner</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Report</li>
        </ol>
    </nav>
</div>

<div class="container">
    <h1 class="mt-3">
        My Report
    </h1>
    <hr />
    <h2 class="mt-3">
        Average Rating:

    </h2>

    <div class="row">
        <p class="text-center h2">
            @if (@ViewBag.AverageRating != null)
            {
                @ViewBag.AverageRating
            }
        </p>

        <div class="text-center">
            <i class="fas fa-star" style="color: yellow"></i>
            <i class="fas fa-star" style="color: yellow"></i>
            <i class="fas fa-star" style="color: yellow"></i>
            <i class="fas fa-star" style="color: yellow"></i>
            <i class="fas fa-star" style="color: yellow"></i>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col-1 text-center">
            <a class="btn btn-outline-dark px-3 py-2" asp-action="Report" asp-route-filter="All">All</a>
        </div>
        <div class="col-1 text-center">
            <a class="btn btn-outline-dark px-3 py-2" asp-action="Report" asp-route-filter="5">5 <i class="fas fa-star" style="color: yellow"></i></a>
        </div>
        <div class="col-1 text-center">
            <a class="btn btn-outline-dark px-3 py-2" asp-action="Report" asp-route-filter="4">4 <i class="fas fa-star" style="color: yellow"></i></a>
        </div>
        <div class="col-1 text-center">
            <a class="btn btn-outline-dark px-3 py-2" asp-action="Report" asp-route-filter="3">3 <i class="fas fa-star" style="color: yellow"></i></a>
        </div>
        <div class="col-1 text-center">
            <a class="btn btn-outline-dark px-3 py-2" asp-action="Report" asp-route-filter="2">2 <i class="fas fa-star" style="color: yellow"></i></a>
        </div>
        <div class="col-1 text-center">
            <a class="btn btn-outline-dark px-3 py-2" asp-action="Report" asp-route-filter="1">1 <i class="fas fa-star" style="color: yellow"></i></a>
        </div>
        <div class="col-3"></div>

    </div>

</div>

<section class="container">
    <hr />
    @if (Model.Count() == 0)
    {
        
        <h3>Do not have any @ViewBag.Filter stars feedback</h3>
        <hr />
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="row mb-3">
                <div class="col-6">
                    <i class="fas fa-user"></i>
                    <span class="fw-bold">@item.Booking.Customer?.Name</span>
                </div>
                <div class="col-6 text-end">
                    Rate: @item.Ratings <i class="fas fa-star" style="color: yellow"></i>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-8">
                    @item.Content
                </div>
                <div class="col-4 text-end">
                    @item.CreatedAt
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <img src="@Url.Content(item.CarImage)" class="d-block w-100 rounded-2">
                </div>
                <div class="col-6 fw-bold">
                    <p>@item.Booking.Car?.Name</p>
                    <p>From: @item.Booking.StartDateTime</p>
                    <p>To: @item.Booking.EndDateTime</p>
                </div>
            </div>
            <hr />
        }
    }
</section>